pipeline/pl_B1_OrgPayItems_ApiToDefinitiv.json
{
	"name": "pl_B1_OrgPayItems_ApiToDefinitiv",
	"properties": {
		"activities": [
			{
				"name": "LookupOrganizations",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select organizationId, legalName from definitiv.Organizations",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"ds_SchemaName": "definitiv",
							"ds_TableName": "Organizations"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupOrganizations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupOrganizations').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyToJson1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "Org.OrganizationId",
											"value": {
												"value": "@item().organizationId",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayItem.PipelineTriggerTime",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayItem.PipelineRunId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "Org.LegalName",
											"value": {
												"value": "@item().legalName",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayItem.PipelineName",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": true
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "ls_adls2_stnidoprodeastau100",
											"type": "LinkedServiceReference"
										},
										"path": {
											"value": "@concat(\n    pipeline().globalParameters.global_adls2_FileSystem,\n    '/',\n    pipeline().globalParameters.global_adls2_LogDirectory\n)",
											"type": "Expression"
										}
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['payItems'][0]['payItemId']"
											},
											"sink": {
												"path": "payItemId"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['description']"
											},
											"sink": {
												"path": "description"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['unitOfMeasureId']"
											},
											"sink": {
												"path": "unitOfMeasureId"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['type']"
											},
											"sink": {
												"path": "type"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['category']"
											},
											"sink": {
												"path": "category"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['exportCode']"
											},
											"sink": {
												"path": "exportCode"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['glDebitCode']"
											},
											"sink": {
												"path": "glDebitCode"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['glCreditCode']"
											},
											"sink": {
												"path": "glCreditCode"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['organizationId']"
											},
											"sink": {
												"path": "organizationId"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['isSystem']"
											},
											"sink": {
												"path": "isSystem"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['hidden']"
											},
											"sink": {
												"path": "hidden"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['showOnPayslip']"
											},
											"sink": {
												"path": "showOnPayslip"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['payslipDisplayName']"
											},
											"sink": {
												"path": "payslipDisplayName"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['thirdPartyPaymentEnabled']"
											},
											"sink": {
												"path": "thirdPartyPaymentEnabled"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['deletedTime']"
											},
											"sink": {
												"path": "deletedTime"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['deletedByUserId']"
											},
											"sink": {
												"path": "deletedByUserId"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['atoCategory']"
											},
											"sink": {
												"path": "atoCategory"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['superStreamContributionCategory']"
											},
											"sink": {
												"path": "superStreamContributionCategory"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['isSuperable']"
											},
											"sink": {
												"path": "isSuperable"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['isTaxable']"
											},
											"sink": {
												"path": "isTaxable"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['includeInTotalPackage']"
											},
											"sink": {
												"path": "includeInTotalPackage"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['includeInSalaryAndWages']"
											},
											"sink": {
												"path": "includeInSalaryAndWages"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['specialTaxRate']"
											},
											"sink": {
												"path": "specialTaxRate"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['costingStrategy']"
											},
											"sink": {
												"path": "costingStrategy"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['proportionPeriodCostingPayItems'][0]"
											},
											"sink": {
												"path": "proportionPeriodCostingPayItems"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['percentagePayItems'][0]"
											},
											"sink": {
												"path": "percentagePayItems"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['isPercentage']"
											},
											"sink": {
												"path": "isPercentage"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['deductionBankAccount']"
											},
											"sink": {
												"path": "deductionBankAccount"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['rollupMode']"
											},
											"sink": {
												"path": "rollupMode"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['onlyProcessWhenOtherEarningsExist']"
											},
											"sink": {
												"path": "onlyProcessWhenOtherEarningsExist"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['isForeign']"
											},
											"sink": {
												"path": "isForeign"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['isContractor']"
											},
											"sink": {
												"path": "isContractor"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['targetEntity']"
											},
											"sink": {
												"path": "customFields.targetEntity"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['dataType']"
											},
											"sink": {
												"path": "customFields.dataType"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['value']"
											},
											"sink": {
												"path": "customFields.value"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['name']"
											},
											"sink": {
												"path": "customFields.name"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['displayName']"
											},
											"sink": {
												"path": "customFields.displayName"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['description']"
											},
											"sink": {
												"path": "customFields.description"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['enabled']"
											},
											"sink": {
												"path": "customFields.enabled"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['global']"
											},
											"sink": {
												"path": "customFields.global"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['options'][0]"
											},
											"sink": {
												"path": "customFields.options"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['isMandatory']"
											},
											"sink": {
												"path": "customFields.isMandatory"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['order']"
											},
											"sink": {
												"path": "customFields.order"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['dateDriven']"
											},
											"sink": {
												"path": "customFields.dateDriven"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['timeBased']"
											},
											"sink": {
												"path": "customFields.timeBased"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['displayOnTimesheetSummary']"
											},
											"sink": {
												"path": "customFields.displayOnTimesheetSummary"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['preventMultipleEntries']"
											},
											"sink": {
												"path": "customFields.preventMultipleEntries"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['timePeriodMode']"
											},
											"sink": {
												"path": "customFields.timePeriodMode"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['inheritTimesheetPeriod']"
											},
											"sink": {
												"path": "customFields.inheritTimesheetPeriod"
											}
										},
										{
											"source": {
												"path": "$['payItems'][0]['customFields'][0]['customFieldDisplayStatus']"
											},
											"sink": {
												"path": "customFields.customFieldDisplayStatus"
											}
										},
										{
											"source": {
												"path": "$['Org.OrganizationId']"
											},
											"sink": {
												"path": "$['Org.OrganizationId']"
											}
										},
										{
											"source": {
												"path": "$['OrgPayItem.PipelineTriggerTime']"
											},
											"sink": {
												"path": "$['OrgPayItem.PipelineTriggerTime']"
											}
										},
										{
											"source": {
												"path": "$['OrgPayItem.PipelineRunId']"
											},
											"sink": {
												"path": "$['OrgPayItem.PipelineRunId']"
											}
										},
										{
											"source": {
												"path": "$['Org.LegalName']"
											},
											"sink": {
												"path": "$['Org.LegalName']"
											}
										},
										{
											"source": {
												"path": "$['OrgPayItem.PipelineName']"
											},
											"sink": {
												"path": "$['OrgPayItem.PipelineName']"
											}
										}
									],
									"collectionReference": "$['payRuns']"
								}
							},
							"inputs": [
								{
									"referenceName": "ds_rest_definitiv",
									"type": "DatasetReference",
									"parameters": {
										"sourceRelativeUrl": {
											"value": "@concat('/api/admin/company/', item().organizationId, '/pay-items')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
									"type": "DatasetReference",
									"parameters": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "09_PayItems"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-21T07:04:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}