pipeline/pl_B2_Timesheets_ApiToDefinitiv.json
{
	"name": "pl_B2_Timesheets_ApiToDefinitiv",
	"properties": {
		"activities": [
			{
				"name": "df_B2_Timesheets_ApiToDefinitiv",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "TimesheetDateIsFinishDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_B2_Timesheets_ApiToDefinitiv",
						"type": "DataFlowReference",
						"parameters": {
							"PipelineRunId": {
								"value": "'@{pipeline().RunId}'",
								"type": "Expression"
							},
							"PipelineTriggerTime": {
								"value": "'@{pipeline().TriggerTime}'",
								"type": "Expression"
							},
							"PipelineName": {
								"value": "'@{pipeline().Pipeline}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"SourceBlobDefinitivTimesheets": {
								"ds_PipelineTriggerTime": "2022-01-25T00:18:17.611502Z",
								"ds_PipelineRunId": "187d99be-a307-4534-9acc-0a17fc03d0ab",
								"ds_FileSystem": "container-adf-nido-prod-eastau-100-1",
								"ds_Directory": "ds_adls2_stnidoprodeastau100_json_output",
								"ds_PipelineName": "pl_B1_Payslips_ApiToDefinitiv"
							},
							"SourceSqlDefinitivTimesheets": {
								"ds_SchemaName": "definitiv",
								"ds_TableName": "CustomReportTimesheetsD"
							},
							"SourceSqlOrgRosters": {
								"ds_SchemaName": "definitiv",
								"ds_TableName": "OrganizationRosters"
							},
							"SinkSqlDefinitivTimesheets": {
								"ds_SchemaName": "definitiv",
								"ds_TableName": "CustomReportTimesheetsD"
							}
						},
						"linkedServiceParameters": {
							"SourceBlobDefinitivTimesheets": {
								"schemaLinkedService": {
									"ds_PipelineTriggerTime": "2022-01-25T00:18:17.611502Z",
									"ds_PipelineRunId": "187d99be-a307-4534-9acc-0a17fc03d0ab",
									"ds_FileSystem": "container-adf-nido-prod-eastau-100-1",
									"ds_Directory": "ds_adls2_stnidoprodeastau100_json_output",
									"ds_PipelineName": "pl_B1_Payslips_ApiToDefinitiv"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AustraliaEastIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine",
					"runConcurrently": true,
					"continueOnError": true
				}
			},
			{
				"name": "CopyToCsv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "df_B2_Timesheets_ApiToDefinitiv",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"ds_SchemaName": {
								"value": "@pipeline().parameters.sourceSqlSchema",
								"type": "Expression"
							},
							"ds_TableName": {
								"value": "@pipeline().parameters.sourceSqlTable",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls2_stnidoprodeastau100_csv",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": {
								"value": "@pipeline().parameters.sourceSqlSchema",
								"type": "Expression"
							},
							"tableName": {
								"value": "@pipeline().parameters.sourceSqlTable",
								"type": "Expression"
							},
							"pipelineRunId": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"pipelineTriggerTime": "@pipeline().TriggerTime"
						}
					}
				]
			},
			{
				"name": "TimesheetDateIsFinishDate",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "TimesheetStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "TimesheetFinishDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(formatDateTime(variables('varTimesheetDate'), 'yyyy-MM-dd'), formatDateTime(variables('varTimesheetFinishDate'), 'yyyy-MM-dd'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "IncrementTimesheetDate",
							"description": "",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CopyToJson_CustomReportTimesheets",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varTimesheetDatePlus1",
								"value": {
									"value": "@formatDateTime(adddays(variables('varTimesheetDate'),1), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CopyToJson_CustomReportTimesheets",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "paramOrganizationId",
											"value": {
												"value": "@pipeline().parameters.paramOrganizationId",
												"type": "Expression"
											}
										},
										{
											"name": "pipelineRunId",
											"value": {
												"value": "@variables('PipelineRunId')",
												"type": "Expression"
											}
										},
										{
											"name": "pipelineTriggerTime",
											"value": {
												"value": "@variables('PipelineTriggerTime')",
												"type": "Expression"
											}
										},
										{
											"name": "varTimesheetDate",
											"value": {
												"value": "@variables('varTimesheetDate')",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:10:00",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['timesheetId']"
											},
											"sink": {
												"path": "$['timesheetId']"
											}
										},
										{
											"source": {
												"path": "$['leaveApplicationId']"
											},
											"sink": {
												"path": "$['leaveApplicationId']"
											}
										},
										{
											"source": {
												"path": "$['employeeId']"
											},
											"sink": {
												"path": "$['employeeId']"
											}
										},
										{
											"source": {
												"path": "$['rosterId']"
											},
											"sink": {
												"path": "$['rosterId']"
											}
										},
										{
											"source": {
												"path": "$['centreCostCode']"
											},
											"sink": {
												"path": "$['centreCostCode']"
											}
										},
										{
											"source": {
												"path": "$['room']"
											},
											"sink": {
												"path": "$['room']"
											}
										},
										{
											"source": {
												"path": "$['employeeRef.No']"
											},
											"sink": {
												"path": "$['employeeRef.No']"
											}
										},
										{
											"source": {
												"path": "$['employee']"
											},
											"sink": {
												"path": "$['employee']"
											}
										},
										{
											"source": {
												"path": "$['date']"
											},
											"sink": {
												"path": "$['date']"
											}
										},
										{
											"source": {
												"path": "$['start']"
											},
											"sink": {
												"path": "$['start']"
											}
										},
										{
											"source": {
												"path": "$['end']"
											},
											"sink": {
												"path": "$['end']"
											}
										},
										{
											"source": {
												"path": "$['roster']"
											},
											"sink": {
												"path": "$['roster']"
											}
										},
										{
											"source": {
												"path": "$['employmentType']"
											},
											"sink": {
												"path": "$['employmentType']"
											}
										},
										{
											"source": {
												"path": "$['workType']"
											},
											"sink": {
												"path": "$['workType']"
											}
										},
										{
											"source": {
												"path": "$['totalHours']"
											},
											"sink": {
												"path": "$['totalHours']"
											}
										},
										{
											"source": {
												"path": "$['totalCost']"
											},
											"sink": {
												"path": "$['totalCost']"
											}
										},
										{
											"source": {
												"path": "$['approvalStatus']"
											},
											"sink": {
												"path": "$['approvalStatus']"
											}
										},
										{
											"source": {
												"path": "$['roomCostCode']"
											},
											"sink": {
												"path": "$['roomCostCode']"
											}
										},
										{
											"source": {
												"path": "$['paramOrganizationId']"
											},
											"sink": {
												"path": "$['paramOrganizationId']"
											}
										},
										{
											"source": {
												"path": "$['pipelineRunId']"
											},
											"sink": {
												"path": "$['pipelineRunId']"
											}
										},
										{
											"source": {
												"path": "$['pipelineTriggerTime']"
											},
											"sink": {
												"path": "$['pipelineTriggerTime']"
											}
										},
										{
											"source": {
												"path": "$['varTimesheetDate']"
											},
											"sink": {
												"path": "$['varTimesheetDate']"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_rest_definitiv",
									"type": "DatasetReference",
									"parameters": {
										"sourceRelativeUrl": {
											"value": "@concat('/api/custom-reports/9B394863-2B5E-4704-8AD4-82352C1111C1?organizationId=',pipeline().parameters.paramOrganizationId,'&startDate=', formatDateTime(variables('varTimesheetDate'), 'yyyy-MM-dd'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
									"type": "DatasetReference",
									"parameters": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SetTimesheetDate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "IncrementTimesheetDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varTimesheetDate",
								"value": {
									"value": "@variables('varTimesheetDatePlus1')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "TimesheetStartDate",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varTimesheetStartDate",
					"value": {
						"value": "@formatdatetime(pipeline().parameters.paramTimesheetStartDate, 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TimesheetFinishDate",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varTimesheetFinishDate",
					"value": {
						"value": "@if(not(empty(pipeline().parameters.paramTimesheetFinishDate)), formatDateTime(pipeline().parameters.paramTimesheetFinishDate, 'yyyy-MM-dd'), formatDateTime(adddays(utcnow(),14), 'yyyy-MM-dd'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"paramTimesheetStartDate": {
				"type": "string",
				"defaultValue": "2022-02-01"
			},
			"paramTimesheetFinishDate": {
				"type": "string",
				"defaultValue": "2022-03-01"
			},
			"paramOrganizationId": {
				"type": "string",
				"defaultValue": "dca2633e-578e-4358-a5bf-0c38a96bb4cb"
			},
			"sourceApiSchema": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"sourceApiTable": {
				"type": "string",
				"defaultValue": "CustomReportTimesheets"
			},
			"sourceSqlSchema": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"sourceSqlTable": {
				"type": "string",
				"defaultValue": "CustomReportTimesheetsD"
			},
			"sinkSqlSchema": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"sinkSqlTable": {
				"type": "string",
				"defaultValue": "CustomReportTimesheetsD"
			},
			"sourceJsonSchema": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"sourceJsonTable": {
				"type": "string",
				"defaultValue": "CustomReportTimesheets"
			},
			"sinkJsonSchema": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"sinkJsonTable": {
				"type": "string",
				"defaultValue": "CustomReportTimesheets"
			},
			"MasterPipelineTriggerTime": {
				"type": "string"
			},
			"MasterPipelineRunId": {
				"type": "string"
			}
		},
		"variables": {
			"varTimesheetStartDate": {
				"type": "String",
				"defaultValue": "2022-02-01"
			},
			"varTimesheetFinishDate": {
				"type": "String",
				"defaultValue": "2022-03-01"
			},
			"varTimesheetDate": {
				"type": "String",
				"defaultValue": "2022-02-01"
			},
			"varTimesheetDatePlus1": {
				"type": "String",
				"defaultValue": "2022-02-02"
			}
		},
		"folder": {
			"name": "03_Timesheets"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-20T01:17:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}