pipeline/pl_B3_Payslips_DedupeDefinitiv.json
{
	"name": "pl_B3_Payslips_DedupeDefinitiv",
	"properties": {
		"description": "Copy tnk_001.dbo.* to tnk_001.draft",
		"activities": [
			{
				"name": "df_B3_Payslips_DedupeDefinitiv",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "SetPipelineTriggerTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetPipelineRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_B3_Payslips_DedupeDefinitiv",
						"type": "DataFlowReference",
						"parameters": {
							"PipelineTriggerTime": {
								"value": "'@{variables('PipelineTriggerTime')}'",
								"type": "Expression"
							},
							"PipelineRunId": {
								"value": "'@{variables('PipelineRunId')}'",
								"type": "Expression"
							},
							"PipelineName": {
								"value": "'@{pipeline().Pipeline}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AustraliaEastIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "SetPipelineTriggerTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineTriggerTime",
					"value": {
						"value": "@convertFromUtc(\n    coalesce(\n        pipeline().parameters.MasterPipelineTriggerTime,\n        pipeline().TriggerTime\n    ),\n    'AUS Eastern Standard Time'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetPipelineRunId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineRunId",
					"value": {
						"value": "@coalesce(pipeline().parameters.MasterPipelineRunId,pipeline().RunId)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"MasterPipelineTriggerTime": {
				"type": "string"
			},
			"MasterPipelineRunId": {
				"type": "string"
			}
		},
		"variables": {
			"PipelineTriggerTime": {
				"type": "String"
			},
			"PipelineRunId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "01_Payslips"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-19T06:10:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}