pipeline/pl_B1_Payslips_ApiToDefinitiv_ARMW.json
{
	"name": "pl_B1_Payslips_ApiToDefinitiv_ARMW",
	"properties": {
		"activities": [
			{
				"name": "LookupOrgPayRuns",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetPipelineTriggerTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetPipelineRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select organizationId, payrunId, periodStart, periodEnd, [payslipGenerationStatus] from definitiv.OrganizationPayRuns where [payslipGenerationStatus] = 'Complete'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"ds_SchemaName": "definitiv",
							"ds_TableName": "OrganizationPayRuns"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachOrgPayRun",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupOrgPayRuns",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupOrgPayRuns').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyApiToBlob",
							"description": "CustomReportPayslips",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "OrgPayRun.OrganizationId",
											"value": {
												"value": "@item().organizationId",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayRun.PayRunId",
											"value": {
												"value": "@item().payRunId",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayRun.PeriodStartDate",
											"value": {
												"value": "@formatDateTime(item().periodStart, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayRun.PeriodEndDate",
											"value": {
												"value": "@formatDateTime(item().periodEnd, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										},
										{
											"name": "PipelineRunId",
											"value": {
												"value": "@variables('PipelineRunId')",
												"type": "Expression"
											}
										},
										{
											"name": "PipelineTriggerTime",
											"value": {
												"value": "@variables('PipelineTriggerTime')",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_definitiv",
									"type": "DatasetReference",
									"parameters": {
										"sourceRelativeUrl": {
											"value": "@concat('/api/custom-reports/EB7BCD04-6849-4B58-A786-1168A9AF829F?organizationId=', item().organizationId, '&selectedPayRunId=', item().payRunId)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adsl2_stnidoprodeastau100_json_2",
									"type": "DatasetReference",
									"parameters": {
										"ds_PipelineTriggerTime": {
											"value": "@variables('PipelineTriggerTime')",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@variables('PipelineRunId')",
											"type": "Expression"
										},
										"ds_FileSystem": "container-adf-nido-prod-eastau-100-1",
										"ds_Directory": "ds_adsl2_stnidoprodeastau100_json",
										"ds_InputOutput": {
											"value": "false",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "df_B1_Payslips_ApiToDefintiv",
				"description": "",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEachOrgPayRun",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_B1_Payslips_ApiToDefinitiv",
						"type": "DataFlowReference",
						"parameters": {
							"PipelineTriggerTime": {
								"value": "'@{variables('PipelineTriggerTime')}'",
								"type": "Expression"
							},
							"PipelineRunId": {
								"value": "'@{variables('PipelineRunId')}'",
								"type": "Expression"
							},
							"PipelineName": {
								"value": "'@{pipeline().Pipeline}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"SourceSqlDefinitivPayslips": {
								"ds_SchemaName": "definitiv",
								"ds_TableName": "CustomReportPayslipsE"
							},
							"SinkSqlDefinitivPayslips": {
								"ds_SchemaName": "definitiv",
								"ds_TableName": "CustomReportPayslipsE"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AustraliaEastIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CopyToCsv1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "df_B1_Payslips_ApiToDefintiv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"ds_SchemaName": "definitiv",
							"ds_TableName": "CustomReportPayslipsD"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls2_stnidoprodeastau100_csv",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "definitiv",
							"tableName": "CustomReportPayslipsD",
							"pipelineRunId": {
								"value": "@variables('PipelineRunId')",
								"type": "Expression"
							},
							"pipelineTriggerTime": {
								"value": "@variables('PipelineTriggerTime')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SetPipelineTriggerTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineTriggerTime",
					"value": {
						"value": "@convertFromUtc(\n    coalesce(\n        pipeline().parameters.MasterPipelineTriggerTime,\n        pipeline().TriggerTime\n    ),\n    'AUS Eastern Standard Time'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetPipelineRunId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineRunId",
					"value": {
						"value": "@coalesce(pipeline().parameters.MasterPipelineRunId,pipeline().RunId)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "MonitorPipeline",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "df_B1_Payslips_ApiToDefintiv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"value": "@activity('df_B1_Payslips_ApiToDefintiv').output",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adsl2_stnidoprodeastau100_json_3",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adsl2_stnidoprodeastau100_json_4",
						"type": "DatasetReference",
						"parameters": {
							"PipelineTriggerTime": {
								"value": "@variables('PipelineTriggerTime')",
								"type": "Expression"
							},
							"PipelineRunId": {
								"value": "@variables('PipelineRunId')",
								"type": "Expression"
							},
							"PipelineName": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"MasterPipelineTriggerTime": {
				"type": "string"
			},
			"MasterPipelineRunId": {
				"type": "string"
			}
		},
		"variables": {
			"PipelineTriggerTime": {
				"type": "String"
			},
			"PipelineRunId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "01_Payslips"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-21T07:04:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}