pipeline/pl_B1_OrgPayRuns_ApiToDefinitiv.json
{
	"name": "pl_B1_OrgPayRuns_ApiToDefinitiv",
	"properties": {
		"activities": [
			{
				"name": "LookupOrganizations",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select organizationId, legalName from definitiv.Organizations",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"ds_SchemaName": "definitiv",
							"ds_TableName": "Organizations"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupOrganizations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupOrganizations').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyToJson1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "Org.OrganizationId",
											"value": {
												"value": "@item().organizationId",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayRun.PipelineTriggerTime",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayRun.PipelineRunId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "Org.LegalName",
											"value": {
												"value": "@item().legalName",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayRun.PipelineName",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['payRuns'][0]['payRunId']"
											},
											"sink": {
												"path": "PayRunId"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['runNumber']"
											},
											"sink": {
												"path": "$['payRuns'][0]['runNumber']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['status']"
											},
											"sink": {
												"path": "$['payRuns'][0]['status']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['payslipGenerationStatus']"
											},
											"sink": {
												"path": "$['payRuns'][0]['payslipGenerationStatus']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['lodgementStatus']"
											},
											"sink": {
												"path": "$['payRuns'][0]['lodgementStatus']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['eofyLodgementStatus']"
											},
											"sink": {
												"path": "$['payRuns'][0]['eofyLodgementStatus']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['type']"
											},
											"sink": {
												"path": "$['payRuns'][0]['type']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['dateOpened']"
											},
											"sink": {
												"path": "$['payRuns'][0]['dateOpened']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['dateLastCalculated']"
											},
											"sink": {
												"path": "$['payRuns'][0]['dateLastCalculated']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['datePublished']"
											},
											"sink": {
												"path": "$['payRuns'][0]['datePublished']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['periodStart']"
											},
											"sink": {
												"path": "$['payRuns'][0]['periodStart']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['periodEnd']"
											},
											"sink": {
												"path": "$['payRuns'][0]['periodEnd']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['paymentDate']"
											},
											"sink": {
												"path": "$['payRuns'][0]['paymentDate']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['superannuationPaymentDate']"
											},
											"sink": {
												"path": "$['payRuns'][0]['superannuationPaymentDate']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['initiatingUserId']"
											},
											"sink": {
												"path": "$['payRuns'][0]['initiatingUserId']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['publishingUserId']"
											},
											"sink": {
												"path": "$['payRuns'][0]['publishingUserId']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['initiatingUserName']"
											},
											"sink": {
												"path": "$['payRuns'][0]['initiatingUserName']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['publishingUserName']"
											},
											"sink": {
												"path": "$['payRuns'][0]['publishingUserName']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['employeeCount']"
											},
											"sink": {
												"path": "$['payRuns'][0]['employeeCount']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['notes']"
											},
											"sink": {
												"path": "$['payRuns'][0]['notes']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['payCalendarId']"
											},
											"sink": {
												"path": "$['payRuns'][0]['payCalendarId']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['payCalendarName']"
											},
											"sink": {
												"path": "$['payRuns'][0]['payCalendarName']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['financialYearStartDate']"
											},
											"sink": {
												"path": "$['payRuns'][0]['financialYearStartDate']"
											}
										},
										{
											"source": {
												"path": "$['payRuns'][0]['financialYearEndDate']"
											},
											"sink": {
												"path": "$['payRuns'][0]['financialYearEndDate']"
											}
										},
										{
											"source": {
												"path": "$['payCalendars'][0]['payCalendarId']"
											},
											"sink": {
												"path": "$['payCalendars'][0]['payCalendarId']"
											}
										},
										{
											"source": {
												"path": "$['payCalendars'][0]['description']"
											},
											"sink": {
												"path": "$['payCalendars'][0]['description']"
											}
										},
										{
											"source": {
												"path": "$['payCalendars'][0]['weeklyFactorEquation']"
											},
											"sink": {
												"path": "$['payCalendars'][0]['weeklyFactorEquation']"
											}
										},
										{
											"source": {
												"path": "$['payCalendars'][0]['weeklyFactor']"
											},
											"sink": {
												"path": "$['payCalendars'][0]['weeklyFactor']"
											}
										},
										{
											"source": {
												"path": "$['payCalendars'][0]['period']"
											},
											"sink": {
												"path": "$['payCalendars'][0]['period']"
											}
										},
										{
											"source": {
												"path": "$['payCalendars'][0]['periodStartDate']"
											},
											"sink": {
												"path": "$['payCalendars'][0]['periodStartDate']"
											}
										},
										{
											"source": {
												"path": "$['payCalendars'][0]['proRataMode']"
											},
											"sink": {
												"path": "$['payCalendars'][0]['proRataMode']"
											}
										},
										{
											"source": {
												"path": "$['payCalendars'][0]['atoLodgementsEnabled']"
											},
											"sink": {
												"path": "$['payCalendars'][0]['atoLodgementsEnabled']"
											}
										},
										{
											"source": {
												"path": "$['currentFinancialYearStartDate']"
											},
											"sink": {
												"path": "$['currentFinancialYearStartDate']"
											}
										},
										{
											"source": {
												"path": "$['currentFinancialYearEndDate']"
											},
											"sink": {
												"path": "$['currentFinancialYearEndDate']"
											}
										},
										{
											"source": {
												"path": "$['Org.OrganizationId']"
											},
											"sink": {
												"path": "$['Org.OrganizationId']"
											}
										},
										{
											"source": {
												"path": "$['OrgPayRun.PipelineTriggerTime']"
											},
											"sink": {
												"path": "$['OrgPayRun.PipelineTriggerTime']"
											}
										},
										{
											"source": {
												"path": "$['OrgPayRun.PipelineRunId']"
											},
											"sink": {
												"path": "$['OrgPayRun.PipelineRunId']"
											}
										},
										{
											"source": {
												"path": "$['Org.LegalName']"
											},
											"sink": {
												"path": "$['Org.LegalName']"
											}
										},
										{
											"source": {
												"path": "$['OrgPayRun.PipelineName']"
											},
											"sink": {
												"path": "$['OrgPayRun.PipelineName']"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_rest_definitiv",
									"type": "DatasetReference",
									"parameters": {
										"sourceRelativeUrl": {
											"value": "@concat('/api/company/', item().organizationId, '/pay-runs')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adsl2_stnidoprodeastau100_json_output",
									"type": "DatasetReference",
									"parameters": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "df_FlattenPayRuns",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_FlattenOrgPayRuns_UpdateOrgPayRuns",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SinkSqlDefinitivPayRuns": {
								"ds_SchemaName": "definitiv",
								"ds_TableName": "OrganizationPayRuns"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AustraliaEastIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CopyToCsv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "df_FlattenPayRuns",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"ds_SchemaName": "definitiv",
							"ds_TableName": "OrganizationPayRuns"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls2_stnidoprodeastau100_csv",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "definitiv",
							"tableName": "OrganizationPayRuns",
							"pipelineRunId": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"pipelineTriggerTime": "@pipeline().TriggerTime"
						}
					}
				]
			}
		],
		"folder": {
			"name": "07_PayRuns"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-21T07:04:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}