pipeline/pl_CopyFromApiToDefinitivSchema_CustomReportRosters.json
{
	"name": "pl_CopyFromApiToDefinitivSchema_CustomReportRosters",
	"properties": {
		"activities": [
			{
				"name": "df_UpdateCusomReportRosters",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "RosterDateIsFinishDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_UpdateCusomReportRosters",
						"type": "DataFlowReference",
						"parameters": {
							"pipelineRunId": {
								"value": "'@{pipeline().RunId}'",
								"type": "Expression"
							},
							"pipelineTriggerTime": {
								"value": "'@{pipeline().TriggerTime}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"sinkSql": {
								"SchemaName": "definitiv",
								"TableName": "CustomReportRostersB"
							}
						}
					},
					"compute": {
						"coreCount": 48,
						"computeType": "General"
					},
					"traceLevel": "Fine",
					"runConcurrently": true,
					"continueOnError": true
				}
			},
			{
				"name": "CopyToCsv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "df_UpdateCusomReportRosters",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "definitiv",
							"TableName": "CustomReportRostersB"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls2_stnidoprodeastau100_csv",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "definitiv",
							"tableName": "CustomReportRostersB",
							"pipelineRunId": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"pipelineTriggerTime": "@pipeline().TriggerTime"
						}
					}
				]
			},
			{
				"name": "RosterDateIsFinishDate",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "RosterStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "RosterFinishDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetPipelineRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetPipelineTriggerTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(formatDateTime(variables('varRosterDate'), 'yyyy-MM-dd'), formatDateTime(variables('varRosterFinishDate'), 'yyyy-MM-dd'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "IncrementRosterDate",
							"description": "",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CopyToJson_CustomReportRosters",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varRosterDatePlus1",
								"value": {
									"value": "@formatDateTime(adddays(variables('varRosterDate'),1), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CopyToJson_CustomReportRosters",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "paramOrganizationId",
											"value": {
												"value": "@pipeline().parameters.paramOrganizationId",
												"type": "Expression"
											}
										},
										{
											"name": "pipelineRunId",
											"value": {
												"value": "@variables('PipelineRunId')",
												"type": "Expression"
											}
										},
										{
											"name": "pipelineTriggerTime",
											"value": {
												"value": "@variables('PipelineTriggerTime')",
												"type": "Expression"
											}
										},
										{
											"name": "varRosterDate",
											"value": {
												"value": "@variables('varRosterDate')",
												"type": "Expression"
											}
										},
										{
											"name": "paramRosterId",
											"value": {
												"value": "@pipeline().parameters.paramRosterId",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:10:00",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_definitiv",
									"type": "DatasetReference",
									"parameters": {
										"sourceRelativeUrl": {
											"value": "@concat('/api/custom-reports/BE1BFE92-8295-4F80-A36C-1A63608C1433?organizationId=',pipeline().parameters.paramOrganizationId,'&startDate=', formatDateTime(variables('varRosterDate'), 'yyyy-MM-dd'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adsl2_stnidoprodeastau100_json_2",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "definitiv",
										"TableName": "CustomReportRosters",
										"ds_PipelineTriggerTime": {
											"value": "@variables('PipelineTriggerTime')",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@variables('PipelineRunId')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SetRosterDate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "IncrementRosterDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varRosterDate",
								"value": {
									"value": "@variables('varRosterDatePlus1')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "RosterStartDate",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varRosterStartDate",
					"value": {
						"value": "@formatdatetime(pipeline().parameters.paramRosterStartDate, 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RosterFinishDate",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varRosterFinishDate",
					"value": {
						"value": "@if(not(empty(pipeline().parameters.paramRosterFinishDate)), formatDateTime(pipeline().parameters.paramRosterFinishDate, 'yyyy-MM-dd'), formatDateTime(adddays(utcnow(),14), 'yyyy-MM-dd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetPipelineTriggerTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineTriggerTime",
					"value": {
						"value": "@coalesce(pipeline().parameters.MasterPipelineTriggerTime,pipeline().TriggerTime)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetPipelineRunId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineRunId",
					"value": {
						"value": "@coalesce(pipeline().parameters.MasterPipelineRunId,pipeline().RunId)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"paramRosterStartDate": {
				"type": "string",
				"defaultValue": "2021-10-01"
			},
			"paramRosterFinishDate": {
				"type": "string",
				"defaultValue": "2021-10-01"
			},
			"paramOrganizationId": {
				"type": "string"
			},
			"paramRosterId": {
				"type": "string"
			},
			"MasterPipelineTriggerTime": {
				"type": "string"
			},
			"MasterPipelineRunId": {
				"type": "string"
			}
		},
		"variables": {
			"varRosterStartDate": {
				"type": "String",
				"defaultValue": "2021-10-01"
			},
			"varRosterFinishDate": {
				"type": "String",
				"defaultValue": "2021-10-01"
			},
			"varRosterDate": {
				"type": "String",
				"defaultValue": "2021-10-01"
			},
			"varRosterDatePlus1": {
				"type": "String",
				"defaultValue": "2021-10-01"
			},
			"PipelineTriggerTime": {
				"type": "String"
			},
			"PipelineRunId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "04_Rosters"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-18T05:28:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}