pipeline/pl_CopyFromApiToDefinitivSchema_OrganizationRosters_copy2.json
{
	"name": "pl_CopyFromApiToDefinitivSchema_OrganizationRosters_copy2",
	"properties": {
		"activities": [
			{
				"name": "ForEachRoster",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup2').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "pl_CustomReportRosters",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_CopyFromApiToDefinitivSchema_CustomReportRosters",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"paramRosterStartDate": {
										"value": "@item().commencementDate",
										"type": "Expression"
									},
									"paramRosterFinishDate": {
										"value": "@item().ceaseDate",
										"type": "Expression"
									},
									"paramOrganizationId": {
										"value": "@item().organizationId",
										"type": "Expression"
									},
									"paramRosterId": {
										"value": "@item().rosterId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select rosterId, organizationId, commencementDate, ceaseDate, defaultPeriodDurationType \nfrom definitiv.OrganizationRosters \nwhere rosterId in (\n'A3AC240D-A6EB-45A5-A5C5-792B8B20ADA1'\n)\norder by commencementDate, ceaseDate",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"ds_SchemaName": "definitiv",
							"ds_TableName": "OrganizationRosters"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "04_Rosters"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-20T04:04:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}