pipeline/pl_CopyFromApiToDefinitivSchema_Timesheets.json
{
	"name": "pl_CopyFromApiToDefinitivSchema_Timesheets",
	"properties": {
		"activities": [
			{
				"name": "TimesheetStartDate",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varTimesheetStartDate",
					"value": {
						"value": "@formatDateTime(addDays(utcNow(), -28), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TimesheetFinishDate",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varTimesheetFinishDate",
					"value": {
						"value": "@formatDateTime(addDays(utcNow(), 7), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ApiToJson",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "TimesheetStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "TimesheetFinishDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "PipelineTriggerTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							{
								"name": "PipelineRunId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "PipelineTimesheetStartDate",
								"value": {
									"value": "@variables('varTimesheetStartDate')",
									"type": "Expression"
								}
							},
							{
								"name": "PipelineTimesheetEndDate",
								"value": {
									"value": "@variables('varTimesheetFinishDate')",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:10:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_rest_definitiv",
						"type": "DatasetReference",
						"parameters": {
							"sourceRelativeUrl": {
								"value": "@concat(\n'/api/custom-reports/',\npipeline().globalParameters.global_CustomReportId_Timesheets,\n'?organizationId=',\npipeline().globalParameters.global_CustomReportId_GenericOrgId,\n'&startDate=', \nformatDateTime(variables('varTimesheetStartDate'), 'yyyy-MM-dd'),\n'&endDate=', \nformatDateTime(variables('varTimesheetFinishDate'), 'yyyy-MM-dd')\n)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
						"type": "DatasetReference",
						"parameters": {
							"ds_PipelineTriggerTime": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"ds_PipelineRunId": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"ds_FileSystem": {
								"value": "@pipeline().globalParameters.global_adls2_FileSystem",
								"type": "Expression"
							},
							"ds_Directory": {
								"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
								"type": "Expression"
							},
							"ds_PipelineName": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "df_Timesheets",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ApiToJson",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Timesheets",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SourceBlobDefinitiv": {
								"ds_PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"ds_PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"ds_FileSystem": {
									"value": "@pipeline().globalParameters.global_adls2_FileSystem",
									"type": "Expression"
								},
								"ds_Directory": {
									"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
									"type": "Expression"
								},
								"ds_PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AustraliaEastIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"param_Schema": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"param_Table": {
				"type": "string",
				"defaultValue": "CustomReportTimesheetsD"
			}
		},
		"variables": {
			"varTimesheetStartDate": {
				"type": "String"
			},
			"varTimesheetFinishDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "03_Timesheets"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-18T05:28:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}