pipeline/pl_CopyFromApiToDefinitivSchema_Employees.json
{
	"name": "pl_CopyFromApiToDefinitivSchema_Employees",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "df_UpdateEmployees",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select employeeId, organizationId from definitiv.Employees",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"param_SchemaName": "definitiv",
							"param_TableName": "Employees"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyToJson2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "organizationId",
											"value": {
												"value": "@item().organizationId",
												"type": "Expression"
											}
										},
										{
											"name": "pipelineRunId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "pipelineTriggerTime",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										{
											"name": "employeeId",
											"value": {
												"value": "@item().employeeId",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:05:00",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_definitiv",
									"type": "DatasetReference",
									"parameters": {
										"sourceRelativeUrl": {
											"value": "@concat('/api/employees/', item().employeeId, '/employment-history')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "df_UpdateEmployeesEmploymentHistory",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_EmploymentHistory",
						"type": "DataFlowReference",
						"datasetParameters": {
							"source1": {
								"ds_PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"ds_PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"ds_FileSystem": {
									"value": "@pipeline().globalParameters.global_adls2_FileSystem",
									"type": "Expression"
								},
								"ds_Directory": {
									"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
									"type": "Expression"
								},
								"ds_PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AustraliaEastIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CopyToJson1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "pipelineRunId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "pipelineTriggerTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_rest_definitiv",
						"type": "DatasetReference",
						"parameters": {
							"sourceRelativeUrl": {
								"value": "/api/v2/employees",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "df_UpdateEmployees",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CopyToJson1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Employees",
						"type": "DataFlowReference",
						"datasetParameters": {
							"source1": {
								"ds_PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"ds_PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"ds_FileSystem": {
									"value": "@pipeline().globalParameters.global_adls2_FileSystem",
									"type": "Expression"
								},
								"ds_Directory": {
									"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
									"type": "Expression"
								},
								"ds_PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"folder": {
			"name": "05_Employees"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-18T05:28:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}