pipeline/pl_CopyFromApiToDefinitivSchema_Payslips.json
{
	"name": "pl_B1_Payslips_ApiToDefinitiv",
	"properties": {
		"activities": [
			{
				"name": "OrgPayRuns",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select organizationId, payrunId, periodStart, periodEnd, [payslipGenerationStatus] from definitiv.OrganizationPayRuns where [payslipGenerationStatus] = 'Complete'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"ds_SchemaName": "definitiv",
							"ds_TableName": "OrganizationPayRuns"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "OrgPayRun",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "OrgPayRuns",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('OrgPayRuns').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ApiToJson",
							"description": "",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "OrgPayRun.OrganizationId",
											"value": {
												"value": "@item().organizationId",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayRun.PayRunId",
											"value": {
												"value": "@item().payRunId",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayRun.PeriodStartDate",
											"value": {
												"value": "@formatDateTime(item().periodStart, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayRun.PeriodEndDate",
											"value": {
												"value": "@formatDateTime(item().periodEnd, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayRun.PipelineRunId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "OrgPayRun.PipelineTriggerTime",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_definitiv",
									"type": "DatasetReference",
									"parameters": {
										"sourceRelativeUrl": {
											"value": "@concat(\n'/api/custom-reports/',\npipeline().globalParameters.global_CustomReportId_Payslips,\n'?organizationId=', \nitem().organizationId, \n'&selectedPayRunId=', \nitem().payRunId)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
									"type": "DatasetReference",
									"parameters": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "df_Payslips",
				"description": "",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "OrgPayRun",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Payslips",
						"type": "DataFlowReference",
						"parameters": {
							"PipelineRunId": {
								"value": "'@{pipeline().RunId}'",
								"type": "Expression"
							},
							"PipelineTriggerTime": {
								"value": "'@{pipeline().TriggerTime}'",
								"type": "Expression"
							},
							"PipelineName": {
								"value": "'@{pipeline().Pipeline}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"SourceApi": {
								"ds_PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"ds_PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"ds_FileSystem": {
									"value": "@pipeline().globalParameters.global_adls2_FileSystem",
									"type": "Expression"
								},
								"ds_Directory": {
									"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
									"type": "Expression"
								},
								"ds_PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"sinkSql": {
								"ds_SchemaName": {
									"value": "@pipeline().parameters.param_Schema",
									"type": "Expression"
								},
								"ds_TableName": {
									"value": "@pipeline().parameters.param_Table",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AustraliaEastIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "pl_monitoring_logic-nido-prod-eastau-100",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "df_Payslips",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_monitoring_logic-nido-prod-eastau-100",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"DataflowActivityOutput": {
							"value": "@activity('df_Payslips').output",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"param_Schema": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"param_Table": {
				"type": "string",
				"defaultValue": "CustomReportPayslipsE"
			}
		},
		"folder": {
			"name": "01_Payslips"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-21T07:04:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}