pipeline/pl_CopyFromApiToDefinitivSchema_Timesheets_original.json
{
	"name": "pl_CopyFromApiToDefinitivSchema_Timesheets_original",
	"properties": {
		"activities": [
			{
				"name": "TimesheetStartDate",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "PreRowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varTimesheetStartDate",
					"value": {
						"value": "@formatDateTime(addDays(convertFromUtc(utcNow(), 'AUS Eastern Standard Time'), -35), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TimesheetFinishDate",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "TimesheetStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varTimesheetFinishDate",
					"value": {
						"value": "@formatDateTime(addDays(convertFromUtc(utcNow(), 'AUS Eastern Standard Time'), 7), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "df_Timesheets",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "QueryDateIsFinishDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.03:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Timesheets",
						"type": "DataFlowReference",
						"parameters": {
							"param_FileSystem": "\"container-adf-nido-prod-eastau-100-1\"",
							"param_ErrorRowDirectory": "\"ErrorRows\"",
							"param_DataflowName": "\"df_Timesheets\""
						},
						"datasetParameters": {
							"sourceJson": {
								"ds_PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"ds_PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"ds_FileSystem": {
									"value": "@pipeline().globalParameters.global_adls2_FileSystem",
									"type": "Expression"
								},
								"ds_Directory": {
									"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
									"type": "Expression"
								},
								"ds_PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"sinkSql": {
								"param_SchemaName": {
									"value": "@pipeline().parameters.param_SchemaName",
									"type": "Expression"
								},
								"param_TableName": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AustraliaEastIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "PreRowCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as PreRowCount from definitiv.CustomReportTimesheets",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"param_SchemaName": {
								"value": "@pipeline().parameters.param_SchemaName",
								"type": "Expression"
							},
							"param_TableName": {
								"value": "@pipeline().parameters.param_TableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "PostRowCount",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "df_Timesheets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.CustomReportTimesheets",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"param_SchemaName": {
								"value": "@pipeline().parameters.param_SchemaName",
								"type": "Expression"
							},
							"param_TableName": {
								"value": "@pipeline().parameters.param_TableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "QueryDateIsFinishDate",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "TimesheetQueryDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('varTimesheetQueryDate'), variables('varTimesheetFinishDate'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ApiToJson",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.03:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "PipelineTriggerTime",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										{
											"name": "PipelineRunId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "PipelineName",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										{
											"name": "QueryStartDate",
											"value": {
												"value": "@variables('varTimesheetStartDate')",
												"type": "Expression"
											}
										},
										{
											"name": "QueryFinishDate",
											"value": {
												"value": "@variables('varTimesheetFinishDate')",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": {
										"value": "@{pipeline().globalParameters.global_REST_RequestTimeoutDuration_30min}",
										"type": "Expression"
									},
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_definitiv",
									"type": "DatasetReference",
									"parameters": {
										"sourceRelativeUrl": {
											"value": "@concat(\n'/api/custom-reports/',\npipeline().globalParameters.global_CustomReportId_Timesheets,\n'?organizationId=',\npipeline().globalParameters.global_CustomReportId_GenericOrgId,\n'&startDate=', \nformatDateTime(variables('varTimesheetQueryDate'), 'yyyy-MM-dd')\n)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
									"type": "DatasetReference",
									"parameters": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "TimesheetQueryDatePlusOne",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ApiToJson",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varTimesheetQueryDatePlusOne",
								"value": {
									"value": "@formatDateTime(addDays(variables('varTimesheetQueryDate'), 1), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "NextTimesheetQueryDate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TimesheetQueryDatePlusOne",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varTimesheetQueryDate",
								"value": {
									"value": "@variables('varTimesheetQueryDatePlusOne')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "logic-nido-prod-eastau-101_1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ApiToJson",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"PipelineTriggerId": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredByPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredByPipelineRunId": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"ActivityOutputMessage": {
										"value": "@activity('ApiToJson').output.errors[0].Message",
										"type": "Expression"
									},
									"AzureSqlTargetTable": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "TimesheetQueryDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "TimesheetFinishDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varTimesheetQueryDate",
					"value": {
						"value": "@variables('varTimesheetStartDate')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"param_SchemaName": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"param_TableName": {
				"type": "string",
				"defaultValue": "CustomReportTimesheets"
			}
		},
		"variables": {
			"varTimesheetStartDate": {
				"type": "String"
			},
			"varTimesheetFinishDate": {
				"type": "String"
			},
			"varTimesheetQueryDate": {
				"type": "String"
			},
			"varTimesheetQueryDatePlusOne": {
				"type": "String"
			}
		},
		"folder": {
			"name": "01_Sentient Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-18T05:28:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}