pipeline/pl_CopyFromApiToDefinitivSchema_CustomReportRosters_2_0.json
{
	"name": "pl_CopyFromApiToDefinitivSchema_CustomReportRosters_2_0",
	"properties": {
		"activities": [
			{
				"name": "RosterStartDate",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varRosterStartDate",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RosterFinishDate",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varRosterFinishDate",
					"value": {
						"value": "@formatDateTime(addDays(utcNow(),28), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyToJson_CustomReportRosters_copy2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "RosterStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "RosterFinishDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "paramOrganizationId",
								"value": {
									"value": "@pipeline().parameters.paramOrganizationId",
									"type": "Expression"
								}
							},
							{
								"name": "CustomReportRosters.PipelineTriggerTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							{
								"name": "CustomReportRosters.PipelineRunId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "varRosterDate",
								"value": {
									"value": "@variables('varRosterCurrentDate')",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:10:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_rest_definitiv",
						"type": "DatasetReference",
						"parameters": {
							"sourceRelativeUrl": {
								"value": "@concat(\n'/api/custom-reports/BE1BFE92-8295-4F80-A36C-1A63608C1433?organizationId=',\n'aaaaaaaa-bbbb-cccc-dddd-000000000000',\n'&startDate=', \nformatDateTime(variables('varRosterStartDate'), 'yyyy-MM-dd'),\n'&endDate=', \nformatDateTime(variables('varRosterFinishDate'), 'yyyy-MM-dd')\n)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
						"type": "DatasetReference",
						"parameters": {
							"ds_PipelineTriggerTime": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"ds_PipelineRunId": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"ds_FileSystem": {
								"value": "@pipeline().globalParameters.global_adls2_FileSystem",
								"type": "Expression"
							},
							"ds_Directory": {
								"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
								"type": "Expression"
							},
							"ds_PipelineName": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"varRosterStartDate": {
				"type": "String",
				"defaultValue": "@formatDateTime(addDays(utcNow(), -7), 'yyyy-MM-dd')"
			},
			"varRosterFinishDate": {
				"type": "String",
				"defaultValue": "@formatDateTime(addDays(utcNow(), 28), 'yyyy-MM-dd')"
			}
		},
		"folder": {
			"name": "04_Rosters"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-18T05:28:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}