pipeline/pl_CopyFromApiToDefinitivSchema_Payslips.json
{
	"name": "pl_CopyFromApiToDefinitivSchema_Payslips",
	"properties": {
		"activities": [
			{
				"name": "OrgPayRuns",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PreRowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select [Org.OrganizationId] as orgId, [payRunId], [Org.LegalName] as orgLegalName, [payslipGenerationStatus] from definitiv.OrganizationPayRuns where [payslipGenerationStatus] = 'Complete'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"param_SchemaName": "definitiv",
							"param_TableName": "OrganizationPayRuns"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "OrgPayRun",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "OrgPayRuns",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('OrgPayRuns').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ApiToJson",
							"description": "",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.03:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "PipelineName",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										{
											"name": "PipelineRunId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "PipelineTriggerTime",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										{
											"name": "Org.OrganizationId",
											"value": {
												"value": "@item().orgId",
												"type": "Expression"
											}
										},
										{
											"name": "Org.LegalName",
											"value": {
												"value": "@item().orgLegalName",
												"type": "Expression"
											}
										},
										{
											"name": "PayRun.PayRunId",
											"value": {
												"value": "@item().payRunId",
												"type": "Expression"
											}
										},
										{
											"name": "PayRun.PayslipGenerationStatus",
											"value": {
												"value": "@item().payslipGenerationStatus",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": {
										"value": "@{pipeline().globalParameters.global_REST_RequestTimeoutDuration_30min}",
										"type": "Expression"
									},
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_definitiv",
									"type": "DatasetReference",
									"parameters": {
										"sourceRelativeUrl": {
											"value": "@concat(\n'/api/custom-reports/',\npipeline().globalParameters.global_CustomReportId_Payslips,\n'?organizationId=', \nitem().orgId, \n'&selectedPayRunId=', \nitem().payRunId)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
									"type": "DatasetReference",
									"parameters": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "CopyActivityOutput",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ApiToJson",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varCopyActivityOutput",
								"value": {
									"value": "@activity('ApiToJson').output",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CopyActivityErrorMessage",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ApiToJson",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varCopyActivityErrorMessage",
								"value": {
									"value": "@activity('ApiToJson').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "df_Payslips",
				"description": "",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "OrgPayRun",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.03:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Payslips",
						"type": "DataFlowReference",
						"parameters": {
							"param_FileSystem": "\"container-adf-nido-prod-eastau-100-1\"",
							"param_ErrorRowDirectory": "\"ErrorRows\"",
							"param_DataflowName": "\"df_Payslips\""
						},
						"datasetParameters": {
							"sourceJson": {
								"ds_PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"ds_PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"ds_FileSystem": {
									"value": "@pipeline().globalParameters.global_adls2_FileSystem",
									"type": "Expression"
								},
								"ds_Directory": {
									"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
									"type": "Expression"
								},
								"ds_PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"sinkSql": {
								"param_SchemaName": {
									"value": "@pipeline().parameters.param_SchemaName",
									"type": "Expression"
								},
								"param_TableName": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AustraliaEastIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "pl_monitoring_logic-nido-prod-eastau-100",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PostRowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_monitoring_logic-nido-prod-eastau-100",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"DataflowActivityOutput": {
							"value": "@activity('df_Payslips').output",
							"type": "Expression"
						},
						"PreRowCount": {
							"value": "@activity('PreRowCount').output.value[0]",
							"type": "Expression"
						},
						"PostRowCount": {
							"value": "@activity('PostRowCount').output.value[0]",
							"type": "Expression"
						},
						"DataflowErrorMessage": {
							"value": "@activity('df_Payslips').error.Message",
							"type": "Expression"
						},
						"CopyActivityErrorMessage": {
							"value": "@activity('ApiToJson').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "PreRowCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as PreRowCount from definitiv.CustomReportPayslips",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"param_SchemaName": {
								"value": "@pipeline().parameters.param_SchemaName",
								"type": "Expression"
							},
							"param_TableName": {
								"value": "@pipeline().parameters.param_TableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "PostRowCount",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "df_Payslips",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.CustomReportPayslips",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"param_SchemaName": {
								"value": "@pipeline().parameters.param_SchemaName",
								"type": "Expression"
							},
							"param_TableName": {
								"value": "@pipeline().parameters.param_TableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DataflowErrorMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "df_Payslips",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varDataflowErrorMessage",
					"value": {
						"value": "@activity('df_Payslips').error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DataflowOutput",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "df_Payslips",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varDataflowOutput",
					"value": {
						"value": "@activity('df_Payslips').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "pl_monitoring_logic-nido-prod-eastau-100_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "OrgPayRun",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_monitoring_logic-nido-prod-eastau-100",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"DataflowActivityOutput": {
							"value": "@activity('df_Payslips').output",
							"type": "Expression"
						},
						"PreRowCount": {
							"value": "@activity('PreRowCount').output.value[0]",
							"type": "Expression"
						},
						"PostRowCount": {
							"value": "@activity('PostRowCount').output.value[0]",
							"type": "Expression"
						},
						"DataflowErrorMessage": {
							"value": "@activity('df_Payslips').error.Message",
							"type": "Expression"
						},
						"CopyActivityErrorMessage": {
							"value": "@activity('ApiToJson').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "pl_monitoring_logic-nido-prod-eastau-100_copy2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DataflowErrorMessage",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "DataflowOutput",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_monitoring_logic-nido-prod-eastau-100",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"DataflowActivityOutput": {
							"value": "@activity('df_Payslips').output",
							"type": "Expression"
						},
						"PreRowCount": {
							"value": "@activity('PreRowCount').output.value[0]",
							"type": "Expression"
						},
						"PostRowCount": {
							"value": "@activity('PostRowCount').output.value[0]",
							"type": "Expression"
						},
						"DataflowErrorMessage": {
							"value": "@activity('df_Payslips').error.Message",
							"type": "Expression"
						},
						"CopyActivityErrorMessage": {
							"value": "@activity('ApiToJson').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"param_SchemaName": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"param_TableName": {
				"type": "string",
				"defaultValue": "CustomReportPayslips"
			}
		},
		"variables": {
			"varCopyActivityOutput": {
				"type": "String",
				"defaultValue": "varCopyActivityOutput"
			},
			"varCopyActivityErrorMessage": {
				"type": "String",
				"defaultValue": "varCopyActivityErrorMessage"
			},
			"varDataflowOutput": {
				"type": "String",
				"defaultValue": "varDataflowOutput"
			},
			"varDataflowErrorMessage": {
				"type": "String",
				"defaultValue": "varDataflowErrorMessage"
			}
		},
		"folder": {
			"name": "01_Payslips"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-21T07:04:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}