pipeline/pl_CopyFromApiToDefinitivSchema_OrganizationRosters.json
{
	"name": "pl_CopyFromApiToDefinitivSchema_OrganizationRosters",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetPipelineTriggerTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetPipelineRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select organizationId from definitiv.Organizations",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"ds_SchemaName": "definitiv",
							"ds_TableName": "Organization"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachOrganization",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyToJson_RostersV3",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "organizationId",
											"value": {
												"value": "@item().organizationId",
												"type": "Expression"
											}
										},
										{
											"name": "pipelineRunId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "pipelineTriggerTime",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:10:00",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_definitiv",
									"type": "DatasetReference",
									"parameters": {
										"sourceRelativeUrl": {
											"value": "@concat('/api/organization/', item().organizationId, '/rostering-v3')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adsl2_stnidoprodeastau100_json_input",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "definitiv",
										"TableName": "OrganizationRosters",
										"ds_PipelineTriggerTime": {
											"value": "@variables('PipelineTriggerTime')",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@variables('PipelineRunId')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEachRoster",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup2').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "pl_CustomReportRosters",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_CopyFromApiToDefinitivSchema_CustomReportRosters",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"paramRosterStartDate": {
										"value": "@item().commencementDate",
										"type": "Expression"
									},
									"paramRosterFinishDate": {
										"value": "@item().ceaseDate",
										"type": "Expression"
									},
									"paramOrganizationId": {
										"value": "@item().organizationId",
										"type": "Expression"
									},
									"paramRosterId": {
										"value": "@item().rosterId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "df_FlattenOrgRosters_UpdateOrgRosters",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEachOrganization",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_FlattenOrgRosters_UpdateOrgRosters",
						"type": "DataFlowReference",
						"parameters": {
							"PipelineTriggerTime": {
								"value": "'@{variables('PipelineTriggerTime')}'",
								"type": "Expression"
							},
							"PipelineRunId": {
								"value": "'@{variables('PipelineRunId')}'",
								"type": "Expression"
							},
							"PipelineName": {
								"value": "'@{pipeline().Pipeline}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"sourceSql": {
								"ds_SchemaName": "definitiv",
								"ds_TableName": "OrganizationRosters"
							},
							"sinkSql": {
								"ds_SchemaName": "definitiv",
								"ds_TableName": "OrganizationRosters"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AustraliaEastIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine",
					"runConcurrently": true,
					"continueOnError": true
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "df_FlattenOrgRosters_UpdateOrgRosters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select rosterId, organizationId, commencementDate, ceaseDate, defaultPeriodDurationType from definitiv.OrganizationRosters order by commencementDate, ceaseDate",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"ds_SchemaName": "definitiv",
							"ds_TableName": "OrganizationRosters"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SetPipelineTriggerTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineTriggerTime",
					"value": {
						"value": "@coalesce(pipeline().parameters.MasterPipelineTriggerTime,pipeline().TriggerTime)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetPipelineRunId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineRunId",
					"value": {
						"value": "@coalesce(pipeline().parameters.MasterPipelineRunId,pipeline().RunId)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"MasterPipelineTriggerTime": {
				"type": "string"
			},
			"MasterPipelineRunId": {
				"type": "string"
			}
		},
		"variables": {
			"PipelineTriggerTime": {
				"type": "String"
			},
			"PipelineRunId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "04_Rosters"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-20T04:04:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}