pipeline/pl_CopyFromApiToDefinitivSchema_EmploymentHistory.json
{
	"name": "pl_CopyFromApiToDefinitivSchema_EmploymentHistory",
	"properties": {
		"activities": [
			{
				"name": "Employees",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [employeeId] FROM [definitiv].[Employees]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"param_SchemaName": "definitiv",
							"param_TableName": "Employees"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Employee",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Employees",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Employees').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ApiToJson",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "PipelineName",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										{
											"name": "PipelineRunId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "PipelineTriggerTime",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										{
											"name": "Org.OrganizationId",
											"value": {
												"value": "@item().organizationId",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:10:00",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_definitiv",
									"type": "DatasetReference",
									"parameters": {
										"sourceRelativeUrl": {
											"value": "@concat(\n'/api/employees/',\nitem().employeeId,\n'/employment-history'\n)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
									"type": "DatasetReference",
									"parameters": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"param_SchemeName1": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"param_TableName1": {
				"type": "string",
				"defaultValue": "Employees"
			},
			"param_SchemeName2": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"param_TableName2": {
				"type": "string",
				"defaultValue": "EmployeePaymentAccounts"
			},
			"param_SchemeName3": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"param_TableName3": {
				"type": "string",
				"defaultValue": "EmployeePhoneNumbers"
			},
			"param_SchemeName4": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"param_TableName4": {
				"type": "string",
				"defaultValue": "EmployeeStreetAddresses"
			},
			"param_SchemeName5": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"param_TableName5": {
				"type": "string",
				"defaultValue": "EmployeeSuperAccounts"
			},
			"param_SchemeName6": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"param_TableName6": {
				"type": "string",
				"defaultValue": "EmployeeSuperContributions"
			},
			"param_SchemeName7": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"param_TableName7": {
				"type": "string",
				"defaultValue": "EmployeeTaxDeclarations"
			}
		},
		"folder": {
			"name": "05_Employees"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-18T05:28:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}