pipeline/pl_CopyFromApiToDefinitivSchema_CustomReport Rosters_1_0.json
{
	"name": "pl_CopyFromApiToDefinitivSchema_CustomReport Rosters_1_0",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select organizationId from definitiv.Organizations",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"ds_SchemaName": "definitiv",
							"ds_TableName": "Organization"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachOrganization",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lookup_PreRowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "pl_CopyFromApiToDefinitivSchema_CustomReportRosters_1_1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_CopyFromApiToDefinitivSchema_CustomReportRosters_1_1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"paramOrganizationId": {
										"value": "@item().organizationId",
										"type": "Expression"
									},
									"TriggeredByPipelineTriggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"TriggeredByPipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "df_UpdateCustomReportRosters",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEachOrganization",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_UpdateCusomReportRosters",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SourceBlobDefinitiv": {
								"ds_PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"ds_PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"ds_FileSystem": {
									"value": "@pipeline().globalParameters.global_adls2_FileSystem",
									"type": "Expression"
								},
								"ds_Directory": {
									"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
									"type": "Expression"
								},
								"ds_PipelineName": {
									"value": "@pipeline().parameters.ExecutePipelineName",
									"type": "Expression"
								}
							},
							"SinkSqlDefintiv": {
								"ds_SchemaName": "definitiv",
								"ds_TableName": "CustomReportRostersD"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AustraliaEastIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "pl_monitoring_logic-nido-prod-eastau-100",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "lookup_PostRowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_monitoring_logic-nido-prod-eastau-100",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"DataflowActivityOutput": {
							"value": "@activity('df_UpdateCustomReportRosters').output",
							"type": "Expression"
						},
						"PreRowCount": {
							"value": "@activity('lookup_PreRowCount').output",
							"type": "Expression"
						},
						"PostRowCount": {
							"value": "@activity('lookup_PostRowCount').output",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "lookup_PreRowCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) from definitiv.CustomReportRostersD",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"ds_SchemaName": "definitiv",
							"ds_TableName": "CustomReportRostersD"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "lookup_PostRowCount",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "df_UpdateCustomReportRosters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) from definitiv.CustomReportRostersD",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"ds_SchemaName": "definitiv",
							"ds_TableName": "CustomReportRostersD"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"ExecutePipelineName": {
				"type": "string",
				"defaultValue": "pl_CopyFromApiToDefinitivSchema_CustomReportRosters_1_1"
			}
		},
		"folder": {
			"name": "04_Rosters"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-20T04:04:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}