pipeline/pl_CopyFromApiToDefinitivSchema_Timesheets.json
{
	"name": "pl_CopyFromApiToDefinitivSchema_Timesheets",
	"properties": {
		"activities": [
			{
				"name": "TimesheetStartDate",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varTimesheetStartDate",
					"value": {
						"value": "@formatDateTime(addDays(convertFromUtc(utcNow(), 'AUS Eastern Standard Time'), -28), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TimesheetFinishDate",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varTimesheetFinishDate",
					"value": {
						"value": "@formatDateTime(addDays(convertFromUtc(utcNow(), 'AUS Eastern Standard Time'), 28), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ApiToJson",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "TimesheetStartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "TimesheetFinishDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "PreRowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "PipelineTriggerTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							{
								"name": "PipelineRunId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "PipelineName",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "QueryStartDate",
								"value": {
									"value": "@variables('varTimesheetStartDate')",
									"type": "Expression"
								}
							},
							{
								"name": "QueryFinishDate",
								"value": {
									"value": "@variables('varTimesheetFinishDate')",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:10:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_rest_definitiv",
						"type": "DatasetReference",
						"parameters": {
							"sourceRelativeUrl": {
								"value": "@concat(\n'/api/custom-reports/',\npipeline().globalParameters.global_CustomReportId_Timesheets,\n'?organizationId=',\npipeline().globalParameters.global_CustomReportId_GenericOrgId,\n'&startDate=', \nformatDateTime(variables('varTimesheetStartDate'), 'yyyy-MM-dd'),\n'&endDate=', \nformatDateTime(variables('varTimesheetFinishDate'), 'yyyy-MM-dd')\n)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
						"type": "DatasetReference",
						"parameters": {
							"ds_PipelineTriggerTime": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"ds_PipelineRunId": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"ds_FileSystem": {
								"value": "@pipeline().globalParameters.global_adls2_FileSystem",
								"type": "Expression"
							},
							"ds_Directory": {
								"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
								"type": "Expression"
							},
							"ds_PipelineName": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "df_Timesheets",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ApiToJson",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Timesheets",
						"type": "DataFlowReference",
						"parameters": {
							"param_FileSystem": "\"container-adf-nido-prod-eastau-100-1\"",
							"param_ErrorRowDirectory": "\"ErrorRows\""
						},
						"datasetParameters": {
							"sourceJson": {
								"ds_PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"ds_PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"ds_FileSystem": {
									"value": "@pipeline().globalParameters.global_adls2_FileSystem",
									"type": "Expression"
								},
								"ds_Directory": {
									"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
									"type": "Expression"
								},
								"ds_PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"sinkSql": {
								"param_SchemaName": {
									"value": "@pipeline().parameters.param_SchemaName",
									"type": "Expression"
								},
								"param_TableName": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AustraliaEastIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "PreRowCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as PreRowCount from definitiv.CustomReportTimesheets",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"param_SchemaName": {
								"value": "@pipeline().parameters.param_SchemaName",
								"type": "Expression"
							},
							"param_TableName": {
								"value": "@pipeline().parameters.param_TableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "PostRowCount",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "df_Timesheets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.CustomReportTimesheets",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"param_SchemaName": {
								"value": "@pipeline().parameters.param_SchemaName",
								"type": "Expression"
							},
							"param_TableName": {
								"value": "@pipeline().parameters.param_TableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "pl_monitoring_logic-nido-prod-eastau-100",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PostRowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_monitoring_logic-nido-prod-eastau-100",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"DataflowActivityOutput": {
							"value": "@activity('df_Timesheets').output",
							"type": "Expression"
						},
						"PreRowCount": {
							"value": "@activity('PreRowCount').output.value[0]",
							"type": "Expression"
						},
						"PostRowCount": {
							"value": "@activity('PostRowCount').output.value[0]",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"param_SchemaName": {
				"type": "string",
				"defaultValue": "definitiv"
			},
			"param_TableName": {
				"type": "string",
				"defaultValue": "CustomReportTimesheetsD"
			}
		},
		"variables": {
			"varTimesheetStartDate": {
				"type": "String"
			},
			"varTimesheetFinishDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "03_Timesheets"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-18T05:28:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}