pipeline/pl_CopyFromApiToDefinitivSchema_Timesheets.json
{
	"name": "pl_CopyFromApiToDefinitivSchema_Timesheets",
	"properties": {
		"activities": [
			{
				"name": "Organizations",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select organizationId from definitiv.Organizations",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_tnk001",
						"type": "DatasetReference",
						"parameters": {
							"param_SchemaName": "definitiv",
							"param_TableName": "Organizations"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Organization",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Organizations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Organizations').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ApiToJson",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.03:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "Org.OrganizationId",
											"value": {
												"value": "@item().organizationId",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": {
										"value": "@{pipeline().globalParameters.global_REST_RequestTimeoutDuration_30min}",
										"type": "Expression"
									},
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_definitiv",
									"type": "DatasetReference",
									"parameters": {
										"sourceRelativeUrl": {
											"value": "@concat(\n'/api/timesheets?orgId=', \nitem().organizationId, \n'&start=',addDays(utcNow(),-1),\n'&end=',addDays(utcNow(),0),\n'&statusFilter=Approved'\n)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "TimesheetJson",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "logic-nido-prod-eastau-101_1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ApiToJson",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"PipelineTriggerId": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredByPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredByPipelineRunId": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"ActivityOutputMessage": {
										"value": "@activity('ApiToJson').output.errors[0].Message",
										"type": "Expression"
									},
									"AzureSqlTargetTable": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "df_ReportingTimesheets",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Organization",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.03:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "TimesheetDataFlow",
						"type": "DataFlowReference",
						"datasetParameters": {
							"WritetoSQLDB": {
								"param_SchemaName": "dbo",
								"param_TableName": "TimesheetReport"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AustraliaEastIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"param_SchemaName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"param_TableName": {
				"type": "string",
				"defaultValue": "TimesheetReport"
			}
		},
		"folder": {
			"name": "03_Timesheets"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-18T05:28:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}