adf-nido-prod-eastau-100/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-nido-prod-eastau-100"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName1": {
			"type": "string",
			"defaultValue": "definitiv"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName1": {
			"type": "string",
			"defaultValue": "Employees"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName2": {
			"type": "string",
			"defaultValue": "definitiv"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName2": {
			"type": "string",
			"defaultValue": "EmployeePaymentAccounts"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName3": {
			"type": "string",
			"defaultValue": "definitiv"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName3": {
			"type": "string",
			"defaultValue": "EmployeePhoneNumbers"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName4": {
			"type": "string",
			"defaultValue": "definitiv"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName4": {
			"type": "string",
			"defaultValue": "EmployeeStreetAddresses"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName5": {
			"type": "string",
			"defaultValue": "definitiv"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName5": {
			"type": "string",
			"defaultValue": "EmployeeSuperAccounts"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName6": {
			"type": "string",
			"defaultValue": "definitiv"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName6": {
			"type": "string",
			"defaultValue": "EmployeeSuperContributions"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName7": {
			"type": "string",
			"defaultValue": "definitiv"
		},
		"tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName7": {
			"type": "string",
			"defaultValue": "EmployeeTaxDeclarations"
		},
		"tr_EmploymentHistory_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_EmploymentHistory_parameters_param_SchemaName": {
			"type": "string",
			"defaultValue": "definitiv"
		},
		"tr_EmploymentHistory_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_EmploymentHistory_parameters_param_TableName": {
			"type": "string",
			"defaultValue": "EmployeesEmploymentHistory"
		},
		"tr_LeaveApplications_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_ReportingLeaveApplications_parameters_param_SchemaName": {
			"type": "string",
			"defaultValue": "definitiv"
		},
		"tr_LeaveApplications_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_ReportingLeaveApplications_parameters_param_TableName": {
			"type": "string",
			"defaultValue": "ReportingLeaveApplications"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/df_Organizations')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "08_Organizations"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
								"type": "DatasetReference"
							},
							"name": "SourceBlobDefinitiv"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference"
							},
							"name": "SinkSqlDefinitiv",
							"rejectedDataLinkedService": {
								"referenceName": "ls_adls2_stnidoprodeastau100",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [],
					"script": "parameters{\n\tparam_FileSystem as string (\"container-adf-nido-prod-eastau-100-1\"),\n\tparam_ErrorRowDirectory as string (\"ErrorRows\"),\n\tparam_DataflowName as string (\"df_Organizations\")\n}\nsource(output(\n\t\tPipelineName as string,\n\t\tPipelineRunId as string,\n\t\tPipelineTriggerTime as string,\n\t\tabn as string,\n\t\tacn as string,\n\t\tbeamTermsConfirmDate as string,\n\t\tbeamTermsConfirmUserId as string,\n\t\tbeamTermsConfirmUserName as string,\n\t\tbranchCode as string,\n\t\tcontactEmail as string,\n\t\tcontactFirstName as string,\n\t\tcontactPhone as string,\n\t\tcontactSurname as string,\n\t\tcontactTitle as string,\n\t\temployeeSupportEmail as string,\n\t\tfbtExempt as boolean,\n\t\tintermediary as string,\n\t\tlegalName as string,\n\t\tnotificationUserIds as string,\n\t\tnotifyLodgementSubmitters as boolean,\n\t\torganizationCode as string,\n\t\torganizationId as string,\n\t\treference as string,\n\t\tsoftwareProviderABN as string,\n\t\tsoftwareProviderName as string,\n\t\tsoftwareSubscriptionId as string,\n\t\tstreetAddress as string,\n\t\ttradingName as string,\n\t\twpn as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\trowUrlColumn: 'SourceFileName',\n\tdocumentForm: 'documentPerLine') ~> SourceBlobDefinitiv\nSourceBlobDefinitiv sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'allErrors',\n\toutputRejectedData: true,\n\trejectedData_fileSystem: 'container-adf-nido-prod-eastau-100-1',\n\trejectedData_folderPath: 'ds_adsl2_stnidoprodeastau100_csv/definitiv.Organizations',\n\ttransactionCommit: 'batch',\n\treportSuccessOnError: true) ~> SinkSqlDefinitiv"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_Payslips')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "01_Payslips"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
								"type": "DatasetReference"
							},
							"name": "sourceJson"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference"
							},
							"name": "sinkSql",
							"rejectedDataLinkedService": {
								"referenceName": "ls_adls2_stnidoprodeastau100",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "castDateColumns"
						}
					],
					"script": "parameters{\n\tparam_FileSystem as string (\"container-adf-nido-prod-eastau-100-1\"),\n\tparam_ErrorRowDirectory as string (\"ErrorRows\"),\n\tparam_DataflowName as string (\"df_Payslips\")\n}\nsource(output(\n\t\t{Org.LegalName} as string,\n\t\t{Org.OrganizationId} as string,\n\t\t{PayRun.PayRunId} as string,\n\t\t{PayRun.PayslipGenerationStatus} as string,\n\t\tPipelineName as string,\n\t\tPipelineRunId as string,\n\t\tPipelineTriggerTime as string,\n\t\tbaseRate as double,\n\t\tdepartmentCode as string,\n\t\temployeeId as string,\n\t\temploymentTypeCode as string,\n\t\temploymentTypeCodeDesc as string,\n\t\tfirstName as string,\n\t\t{hoursOrA/DCode} as integer,\n\t\t{hoursOrA/DCodeDesc} as string,\n\t\tidNumber as integer,\n\t\tlevel1Code as string,\n\t\tlevel2Code as string,\n\t\tlineItemId as integer,\n\t\tnumberOfUnits as double,\n\t\tpayDate as date,\n\t\tpayMethodCode as string,\n\t\tpayMethodCodeDesc as string,\n\t\tpayslipId as string,\n\t\tpayslipNumber as string,\n\t\tperiodEndingDate as date,\n\t\tperiodStartDate as date,\n\t\tpositionTitle as string,\n\t\tprojectCode as string,\n\t\trate as double,\n\t\tsurname as string,\n\t\tvalue as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\trowUrlColumn: 'SourceFileName',\n\tdocumentForm: 'documentPerLine') ~> sourceJson\nsourceJson derive(each(match(not(typeMatch(type,'datetime'))&&(like(name,'%date%')||like(name,'%Date%')||like(name,'%Time%')||like(name,'%time%'))), $$ = toTimestamp(toString($$), 'yyyy-MM-dd\\'T\\'HH:mm:ss', 'A.U.S. Eastern Standard Time'))) ~> castDateColumns\ncastDateColumns sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'allErrors',\n\toutputRejectedData: true,\n\trejectedData_fileSystem: ($param_FileSystem),\n\trejectedData_folderPath: ($param_ErrorRowDirectory),\n\ttransactionCommit: 'batch',\n\treportSuccessOnError: true) ~> sinkSql"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_ReportingLeaveApplications')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "06_Leave"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
								"type": "DatasetReference"
							},
							"name": "sourceJson"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference"
							},
							"name": "sinkSql",
							"rejectedDataLinkedService": {
								"referenceName": "ls_adls2_stnidoprodeastau100",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "flattenReportData"
						},
						{
							"name": "castDateColumns"
						}
					],
					"scriptLines": [
						"parameters{",
						"     param_FileSystem as string (\"container-adf-nido-prod-eastau-100-1\"),",
						"     param_ErrorRowDirectory as string (\"ErrorRows\"),",
						"     param_DataflowName as string (\"df_ReportingLeaveApplications\")",
						"}",
						"source(output(",
						"          {Org.OrganizationId} as string,",
						"          PipelineName as string,",
						"          PipelineRunId as string,",
						"          PipelineTriggerTime as string,",
						"          addFooterRow as boolean,",
						"          addStatusBar as boolean,",
						"          extraReportData as string[],",
						"          headers as (createDayOfWeekColumn as boolean, customFieldsKeyName as string, dataType as string, defaultPivotAggregation as string, defaultPivotColumnOrder as boolean, defaultPivotRowOrder as short, defaultPivotValueOrder as boolean, defaultSortDirection as string, defaultSortOrder as boolean, disableDefaultAggregation as boolean, falseText as string, fieldName as string, filterDisabled as boolean, hiddenByDefault as boolean, isCustomFields as boolean, isDynamicColumns as boolean, nullDisplayText as string, numericPrecision as string, prependBaseColumnNameToDayOfWeekColumn as boolean, searchDisabled as boolean, sortDisabled as boolean, title as string, trueText as string)[],",
						"          reportData as (approvers as string, dateSubmitted as string, employeeId as string, employeeNumber as integer, firstName as string, gender as string, leaveAppNumDays as short, leaveApplicationId as string, leaveDateEnd as date, leaveDateStart as date, leaveNotes as string, leavePaymentStatus as string, leaveReasonName as string, leaveTypeId as string, leaveTypeName as string, leaveUnitOfMeasure as string, leaveUnits as double, printName as string, status as string, surname as string)[],",
						"          reportVariantTag as string,",
						"          serverTime as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     rowUrlColumn: 'SourceFileName',",
						"     documentForm: 'documentPerLine') ~> sourceJson",
						"sourceJson foldDown(unroll(reportData),",
						"     mapColumn(",
						"          approvers = reportData.approvers,",
						"          dateSubmitted = reportData.dateSubmitted,",
						"          employeeId = reportData.employeeId,",
						"          employeeNumber = reportData.employeeNumber,",
						"          firstName = reportData.firstName,",
						"          gender = reportData.gender,",
						"          leaveAppNumDays = reportData.leaveAppNumDays,",
						"          leaveApplicationId = reportData.leaveApplicationId,",
						"          leaveDateEnd = reportData.leaveDateEnd,",
						"          leaveDateStart = reportData.leaveDateStart,",
						"          leaveNotes = reportData.leaveNotes,",
						"          leavePaymentStatus = reportData.leavePaymentStatus,",
						"          leaveReasonName = reportData.leaveReasonName,",
						"          leaveTypeId = reportData.leaveTypeId,",
						"          leaveTypeName = reportData.leaveTypeName,",
						"          leaveUnitOfMeasure = reportData.leaveUnitOfMeasure,",
						"          leaveUnits = reportData.leaveUnits,",
						"          printName = reportData.printName,",
						"          status = reportData.status,",
						"          surname = reportData.surname,",
						"          {Org.OrganizationId},",
						"          PipelineName,",
						"          PipelineRunId,",
						"          PipelineTriggerTime,",
						"          SourceFileName",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenReportData",
						"flattenReportData derive(each(match(not(typeMatch(type,'datetime'))&&(like(name,'%date%')||like(name,'%Date%')||like(name,'%Time%')||like(name,'%time%'))), $$ = toTimestamp(toString($$), 'yyyy-MM-dd\\'T\\'HH:mm:ss', 'A.U.S. Eastern Standard Time'))) ~> castDateColumns",
						"castDateColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'allErrors',",
						"     outputRejectedData: true,",
						"     rejectedData_fileSystem: ($param_FileSystem),",
						"     rejectedData_folderPath: ($param_ErrorRowDirectory),",
						"     transactionCommit: 'batch',",
						"     reportSuccessOnError: true) ~> sinkSql"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_ReportingLeaveBalances')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "06_Leave"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
								"type": "DatasetReference"
							},
							"name": "sourceJson"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference"
							},
							"name": "sinkSql",
							"rejectedDataLinkedService": {
								"referenceName": "ls_adls2_stnidoprodeastau100",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "flattenReportData"
						},
						{
							"name": "castDateColumns"
						}
					],
					"scriptLines": [
						"parameters{",
						"     param_FileSystem as string (\"container-adf-nido-prod-eastau-100-1\"),",
						"     param_ErrorRowDirectory as string (\"ErrorRows\"),",
						"     param_DataflowName as string (\"df_ReportingLeaveBalances\")",
						"}",
						"source(output(",
						"          {Org.OrganizationId} as string,",
						"          PipelineName as string,",
						"          PipelineRunId as string,",
						"          PipelineTriggerTime as string,",
						"          addFooterRow as boolean,",
						"          addStatusBar as boolean,",
						"          extraReportData as string[],",
						"          headers as (createDayOfWeekColumn as boolean, customFieldsKeyName as string, dataType as string, defaultPivotAggregation as string, defaultPivotColumnOrder as boolean, defaultPivotRowOrder as short, defaultPivotValueOrder as boolean, defaultSortDirection as string, defaultSortOrder as boolean, disableDefaultAggregation as boolean, falseText as string, fieldName as string, filterDisabled as boolean, hiddenByDefault as boolean, isCustomFields as boolean, isDynamicColumns as boolean, nullDisplayText as string, numericPrecision as string, prependBaseColumnNameToDayOfWeekColumn as boolean, searchDisabled as boolean, sortDisabled as boolean, title as string, trueText as string)[],",
						"          reportData as (employeeId as string, employeeNumber as integer, firstName as string, leaveEntitlementHours as double, leaveProRataHours as double, leaveTotalHours as double, leaveTypeId as string, leaveTypeName as string, primaryDepartmentCode as short, primaryDepartmentGlCode as string, primaryDepartmentName as string, primaryLocationCode as string, primaryLocationGlCode as string, primaryLocationName as string, primaryProjectCode as string, primaryProjectGlCode as string, primaryProjectName as string, primaryRoleCode as string, primaryRoleName as string, printName as string, surname as string)[],",
						"          reportVariantTag as string,",
						"          serverTime as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     rowUrlColumn: 'SourceFileName',",
						"     documentForm: 'documentPerLine') ~> sourceJson",
						"sourceJson foldDown(unroll(reportData),",
						"     mapColumn(",
						"          employeeId = reportData.employeeId,",
						"          employeeNumber = reportData.employeeNumber,",
						"          firstName = reportData.firstName,",
						"          leaveEntitlementHours = reportData.leaveEntitlementHours,",
						"          leaveProRataHours = reportData.leaveProRataHours,",
						"          leaveTotalHours = reportData.leaveTotalHours,",
						"          leaveTypeId = reportData.leaveTypeId,",
						"          leaveTypeName = reportData.leaveTypeName,",
						"          primaryDepartmentCode = reportData.primaryDepartmentCode,",
						"          primaryDepartmentGlCode = reportData.primaryDepartmentGlCode,",
						"          primaryDepartmentName = reportData.primaryDepartmentName,",
						"          primaryLocationCode = reportData.primaryLocationCode,",
						"          primaryLocationGlCode = reportData.primaryLocationGlCode,",
						"          primaryLocationName = reportData.primaryLocationName,",
						"          primaryProjectCode = reportData.primaryProjectCode,",
						"          primaryProjectGlCode = reportData.primaryProjectGlCode,",
						"          primaryProjectName = reportData.primaryProjectName,",
						"          primaryRoleCode = reportData.primaryRoleCode,",
						"          primaryRoleName = reportData.primaryRoleName,",
						"          printName = reportData.printName,",
						"          surname = reportData.surname,",
						"          {Org.OrganizationId},",
						"          PipelineName,",
						"          PipelineRunId,",
						"          PipelineTriggerTime,",
						"          SourceFileName",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenReportData",
						"flattenReportData derive(each(match(not(typeMatch(type,'datetime'))&&(like(name,'%date%')||like(name,'%Date%')||like(name,'%Time%')||like(name,'%time%'))), $$ = toTimestamp(toString($$), 'yyyy-MM-dd\\'T\\'HH:mm:ss', 'A.U.S. Eastern Standard Time'))) ~> castDateColumns",
						"castDateColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'allErrors',",
						"     outputRejectedData: true,",
						"     rejectedData_fileSystem: ($param_FileSystem),",
						"     rejectedData_folderPath: ($param_ErrorRowDirectory),",
						"     transactionCommit: 'batch',",
						"     reportSuccessOnError: true) ~> sinkSql"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_Rosters')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "04_Rosters"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
								"type": "DatasetReference"
							},
							"name": "sourceJson"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference"
							},
							"name": "sinkSql",
							"rejectedDataLinkedService": {
								"referenceName": "ls_adls2_stnidoprodeastau100",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "castDateColumns",
							"description": "Creating/updating the columns G'PipelineName, PipelineRunId, PipelineTriggerTime, QueryFinishDate, QueryStartDate, amount, createdByUser, createdDate, date1, employeeId, employmentType, end, firstName, lastName, modifiedByUser, modifiedDate, quantity, room, rosterEntryId, rosterId, serviceCode, start, SourceFileName'"
						}
					],
					"script": "parameters{\n\tparam_FileSystem as string (\"container-adf-nido-prod-eastau-100-1\"),\n\tparam_ErrorRowDirectory as string (\"ErrorRows\"),\n\tparam_DataflowName as string (\"df_Rosters\")\n}\nsource(output(\n\t\tPipelineName as string,\n\t\tPipelineRunId as string,\n\t\tPipelineTriggerTime as string,\n\t\tQueryFinishDate as date,\n\t\tQueryStartDate as date,\n\t\tamount as double,\n\t\tcreatedByUser as string,\n\t\tcreatedDate as string,\n\t\tdate as string,\n\t\temployeeId as string,\n\t\temploymentType as string,\n\t\tend as string,\n\t\tfirstName as string,\n\t\tlastName as string,\n\t\tmodifiedByUser as string,\n\t\tmodifiedDate as string,\n\t\tquantity as double,\n\t\troom as string,\n\t\trosterEntryId as string,\n\t\trosterId as string,\n\t\tserviceCode as string,\n\t\tstart as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\trowUrlColumn: 'SourceFileName',\n\tdocumentForm: 'documentPerLine') ~> sourceJson\nsourceJson derive(end = toTimestamp(concat(toString(toDate(date)), ' ', end, ':00')),\n\t\tstart = toTimestamp(concat(toString(toDate(date)), ' ', start, ':00')),\n\t\tdate = toDate(date)) ~> castDateColumns\ncastDateColumns sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'allErrors',\n\toutputRejectedData: true,\n\trejectedData_fileSystem: ($param_FileSystem),\n\trejectedData_folderPath: ($param_ErrorRowDirectory),\n\ttransactionCommit: 'batch',\n\treportSuccessOnError: true) ~> sinkSql"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_Timesheets')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "03_Timesheets"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
								"type": "DatasetReference"
							},
							"name": "sourceJson"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference"
							},
							"name": "sinkSql",
							"rejectedDataLinkedService": {
								"referenceName": "ls_adls2_stnidoprodeastau100",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "castDateColumns"
						}
					],
					"script": "parameters{\n\tparam_FileSystem as string (\"container-adf-nido-prod-eastau-100-1\"),\n\tparam_ErrorRowDirectory as string (\"ErrorRows\"),\n\tparam_DataflowName as string (\"df_Timesheets\")\n}\nsource(output(\n\t\tPipelineName as string,\n\t\tPipelineRunId as string,\n\t\tPipelineTriggerTime as string,\n\t\tQueryFinishDate as date,\n\t\tQueryStartDate as date,\n\t\tapprovalStatus as string,\n\t\tcentreCostCode as string,\n\t\tdate as string,\n\t\temployee as string,\n\t\temployeeId as string,\n\t\t{employeeRef.No} as integer,\n\t\temploymentType as string,\n\t\tend as string,\n\t\tleaveApplicationId as string,\n\t\troom as string,\n\t\troomCostCode as string,\n\t\troster as string,\n\t\trosterId as string,\n\t\tstart as string,\n\t\ttimesheetId as string,\n\t\ttotalCost as double,\n\t\ttotalHours as double,\n\t\tworkType as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\trowUrlColumn: 'SourceFileName',\n\tdocumentForm: 'documentPerLine') ~> sourceJson\nsourceJson derive(each(match(not(typeMatch(type,'datetime'))&&not(like(name,'%timesheet%'))&&(like(name,'%date%')||like(name,'%Date%')||like(name,'%Time%')||like(name,'%time%'))), $$ = toTimestamp(toString($$), 'yyyy-MM-dd\\'T\\'HH:mm:ss', 'A.U.S. Eastern Standard Time')),\n\t\tstart = toTimestamp(concat(toString(toDate(date)), ' ', start, ':00')),\n\t\tend = toTimestamp(concat(toString(toDate(date)), ' ', end, ':00'))) ~> castDateColumns\ncastDateColumns sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'allErrors',\n\toutputRejectedData: true,\n\trejectedData_fileSystem: ($param_FileSystem),\n\trejectedData_folderPath: ($param_ErrorRowDirectory),\n\ttransactionCommit: 'batch',\n\treportSuccessOnError: true) ~> sinkSql"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_Wages')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "02_Wages"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
								"type": "DatasetReference"
							},
							"name": "sourceJson"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference"
							},
							"name": "sinkSql",
							"rejectedDataLinkedService": {
								"referenceName": "ls_adls2_stnidoprodeastau100",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "castDateColumns"
						}
					],
					"script": "parameters{\n\tparam_FileSystem as string (\"container-adf-nido-prod-eastau-100-1\"),\n\tparam_ErrorRowDirectory as string (\"ErrorRows\"),\n\tparam_DataflowName as string (\"df_Wages\")\n}\nsource(output(\n\t\tPipelineName as string,\n\t\tPipelineRunId as string,\n\t\tPipelineTriggerTime as string,\n\t\tamount as double,\n\t\tdepartment as string,\n\t\temployeeId as string,\n\t\tfirstName as string,\n\t\tfullName as string,\n\t\t{hoursOrA/DCode} as integer,\n\t\t{hoursOrA/DCodeDesc} as string,\n\t\tidNumber as integer,\n\t\tlevel1Code as string,\n\t\tlevel2Code as string,\n\t\tlineItemId as integer,\n\t\tpayItemId as string,\n\t\tpayRunId as string,\n\t\tpayrunGroup as string,\n\t\tpayslipId as string,\n\t\tpositionID as string,\n\t\tpositionTitle as string,\n\t\troom as string,\n\t\tsurname as string,\n\t\tweekEndingDate as date\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\trowUrlColumn: 'SourceFileName',\n\tdocumentForm: 'documentPerLine') ~> sourceJson\nsourceJson derive(each(match(not(typeMatch(type,'datetime'))&&(like(name,'%date%')||like(name,'%Date%')||like(name,'%Time%')||like(name,'%time%'))), $$ = toTimestamp(toString($$), 'yyyy-MM-dd\\'T\\'HH:mm:ss', 'A.U.S. Eastern Standard Time'))) ~> castDateColumns\ncastDateColumns sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'allErrors',\n\toutputRejectedData: true,\n\trejectedData_fileSystem: ($param_FileSystem),\n\trejectedData_folderPath: ($param_ErrorRowDirectory + '/' + $param_DataflowName),\n\ttransactionCommit: 'batch',\n\treportSuccessOnError: true) ~> sinkSql"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_CopyFromApiToDefinitivSchema_Employees')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ApiToJson",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PreRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.03:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "PipelineRunId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "PipelineTriggerTime",
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									},
									{
										"name": "PipelineName",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								],
								"httpRequestTimeout": {
									"value": "@{pipeline().globalParameters.global_REST_RequestTimeoutDuration_30min}",
									"type": "Expression"
								},
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_rest_definitiv",
								"type": "DatasetReference",
								"parameters": {
									"sourceRelativeUrl": {
										"value": "/api/v2/employees",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
								"type": "DatasetReference",
								"parameters": {
									"ds_PipelineTriggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"ds_PipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"ds_FileSystem": {
										"value": "@pipeline().globalParameters.global_adls2_FileSystem",
										"type": "Expression"
									},
									"ds_Directory": {
										"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
										"type": "Expression"
									},
									"ds_PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "df_Employees",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ApiToJson",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.03:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_Employees",
								"type": "DataFlowReference",
								"parameters": {
									"param_FileSystem": {
										"value": "'@{pipeline().globalParameters.global_adls2_FileSystem}'",
										"type": "Expression"
									},
									"param_ErrorRowDirectory": {
										"value": "'@{pipeline().globalParameters.global_adls2_SqlErrorRowDirectory}'",
										"type": "Expression"
									},
									"param_DataflowName": "\"df_Employees\""
								},
								"datasetParameters": {
									"sourceJson": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"sinkSqlEmployee": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemeName1",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName1",
											"type": "Expression"
										}
									},
									"sinkSqlEmployeePaymentAccounts": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemeName2",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName2",
											"type": "Expression"
										}
									},
									"sinkSqlEmployeePhoneNumbers": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemeName3",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName3",
											"type": "Expression"
										}
									},
									"sinkSqlEmployeeStreetAddresses": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemeName4",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName4",
											"type": "Expression"
										}
									},
									"sinkSqlEmployeeSuperAccounts": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemeName5",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName5",
											"type": "Expression"
										}
									},
									"sinkSqlEmployeeSuperContributions": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemeName6",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName6",
											"type": "Expression"
										}
									},
									"sinkSqlEmployeeTaxDeclaration": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemeName7",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName7",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "AustraliaEastIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine",
							"runConcurrently": true,
							"continueOnError": true
						}
					},
					{
						"name": "PreRowCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.Employees",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemeName1",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName1",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "PostRowCount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "df_Employees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.Employees",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemeName1",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName1",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "logic-nido-prod-eastau-101_1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ApiToJson",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"ActivityOutputMessage": {
									"value": "@activity('ApiToJson').output.errors[0].Message",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-102",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PostRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-102",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName1",
									"type": "Expression"
								},
								"AzureSqlTargetTablePreRowCount": {
									"value": "@activity('PreRowCount').output.value",
									"type": "Expression"
								},
								"AzureSqlTargetTablePostRowCount": {
									"value": "@activity('PostRowCount').output.value",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-101_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "df_Employees",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"ActivityOutputMessage": {
									"value": "@activity('df_Employees').error.Message",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName1",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_SchemeName1": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName1": {
						"type": "string",
						"defaultValue": "Employees"
					},
					"param_SchemeName2": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName2": {
						"type": "string",
						"defaultValue": "EmployeePaymentAccounts"
					},
					"param_SchemeName3": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName3": {
						"type": "string",
						"defaultValue": "EmployeePhoneNumbers"
					},
					"param_SchemeName4": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName4": {
						"type": "string",
						"defaultValue": "EmployeeStreetAddresses"
					},
					"param_SchemeName5": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName5": {
						"type": "string",
						"defaultValue": "EmployeeSuperAccounts"
					},
					"param_SchemeName6": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName6": {
						"type": "string",
						"defaultValue": "EmployeeSuperContributions"
					},
					"param_SchemeName7": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName7": {
						"type": "string",
						"defaultValue": "EmployeeTaxDeclarations"
					}
				},
				"variables": {
					"var_PreRowCount": {
						"type": "String",
						"defaultValue": "var_PreRowCount"
					},
					"var_PostRowCount": {
						"type": "String",
						"defaultValue": "var_PostRowCount"
					},
					"var_CopyActivityOutput": {
						"type": "String",
						"defaultValue": "var_CopyActivityOutput"
					},
					"var_DataflowActivityOutput": {
						"type": "String",
						"defaultValue": "var_DataflowActivityOutput"
					},
					"var_CopyActivityErrorMessage": {
						"type": "String",
						"defaultValue": "var_CopyActivityErrorMessage"
					},
					"var_DataflowActivityErrorMessage": {
						"type": "String",
						"defaultValue": "var_DataflowActivityErrorMessage"
					}
				},
				"folder": {
					"name": "05_Employees"
				},
				"annotations": [],
				"lastPublishTime": "2022-01-18T05:28:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_CopyFromApiToDefinitivSchema_EmploymentHistory')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Employees",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PreRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [employeeId] FROM [definitiv].[Employees]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": "definitiv",
									"param_TableName": "Employees"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Employee",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Employees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Employees').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ApiToJson",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.03:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "PipelineName",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineRunId",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineTriggerTime",
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													}
												},
												{
													"name": "Employee.EmployeeId",
													"value": {
														"value": "@item().employeeId",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": {
												"value": "@{pipeline().globalParameters.global_REST_RequestTimeoutDuration_30min}",
												"type": "Expression"
											},
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_rest_definitiv",
											"type": "DatasetReference",
											"parameters": {
												"sourceRelativeUrl": {
													"value": "@concat(\n'/api/employees/',\nitem().employeeId,\n'/employment-history'\n)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
											"type": "DatasetReference",
											"parameters": {
												"ds_PipelineTriggerTime": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"ds_PipelineRunId": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"ds_FileSystem": {
													"value": "@pipeline().globalParameters.global_adls2_FileSystem",
													"type": "Expression"
												},
												"ds_Directory": {
													"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
													"type": "Expression"
												},
												"ds_PipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "logic-nido-prod-eastau-101_1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ApiToJson",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"PipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"PipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"PipelineTriggerId": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											},
											"PipelineTriggerName": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											},
											"PipelineTriggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"PipelineTriggerType": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineName": {
												"value": "@pipeline()?.TriggeredByPipelineName",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineRunId": {
												"value": "@pipeline()?.TriggeredByPipelineRunId",
												"type": "Expression"
											},
											"ActivityOutputMessage": {
												"value": "@activity('ApiToJson').output.errors[0].Message",
												"type": "Expression"
											},
											"AzureSqlTargetTable": {
												"value": "@pipeline().parameters.param_TableName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "df_EmploymentHistory",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Employee",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.03:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_EmploymentHistory",
								"type": "DataFlowReference",
								"parameters": {
									"param_FileSystem": {
										"value": "'@{pipeline().globalParameters.global_adls2_FileSystem}'",
										"type": "Expression"
									},
									"param_ErrorRowDirectory": {
										"value": "'@{pipeline().globalParameters.global_adls2_SqlErrorRowDirectory}'",
										"type": "Expression"
									},
									"param_DataflowName": "\"df_EmploymentHistory\""
								},
								"datasetParameters": {
									"sourceJson": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"sinkSql": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemaName",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "AustraliaEastIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "PreRowCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PreRowCount from definitiv.EmployeesEmploymentHistory",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "PostRowCount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "df_EmploymentHistory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.EmployeesEmploymentHistory",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "logic-nido-prod-eastau-102",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PostRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-102",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								},
								"AzureSqlTargetTablePreRowCount": {
									"value": "@activity('PreRowCount').output.value",
									"type": "Expression"
								},
								"AzureSqlTargetTablePostRowCount": {
									"value": "@activity('PostRowCount').output.value",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-101_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "df_EmploymentHistory",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"ActivityOutputMessage": {
									"value": "@activity('df_EmploymentHistory').error.Message",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_SchemaName": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName": {
						"type": "string",
						"defaultValue": "EmployeesEmploymentHistory"
					}
				},
				"folder": {
					"name": "05_Employees"
				},
				"annotations": [],
				"lastPublishTime": "2022-01-18T05:28:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_CopyFromApiToDefinitivSchema_Organizations')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_Organizations",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ApiToJson",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.03:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_Organizations",
								"type": "DataFlowReference",
								"parameters": {
									"param_FileSystem": {
										"value": "'@{pipeline().globalParameters.global_adls2_FileSystem}'",
										"type": "Expression"
									},
									"param_ErrorRowDirectory": {
										"value": "'@{pipeline().globalParameters.global_adls2_SqlErrorRowDirectory}'",
										"type": "Expression"
									},
									"param_DataflowName": "\"df_Organizations\""
								},
								"datasetParameters": {
									"SourceBlobDefinitiv": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"SinkSqlDefinitiv": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemaName",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "AustraliaEastIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ApiToJson",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PreRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "PipelineName",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									{
										"name": "PipelineRunId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "PipelineTriggerTime",
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									}
								],
								"httpRequestTimeout": {
									"value": "@{pipeline().globalParameters.global_REST_RequestTimeoutDuration_30min}",
									"type": "Expression"
								},
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_rest_definitiv",
								"type": "DatasetReference",
								"parameters": {
									"sourceRelativeUrl": "/api/v2/organizations"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
								"type": "DatasetReference",
								"parameters": {
									"ds_PipelineTriggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"ds_PipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"ds_FileSystem": {
										"value": "@pipeline().globalParameters.global_adls2_FileSystem",
										"type": "Expression"
									},
									"ds_Directory": {
										"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
										"type": "Expression"
									},
									"ds_PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "PreRowCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PreRowCount from definitiv.Organizations",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "PostRowCount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "df_Organizations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.Organizations",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "logic-nido-prod-eastau-102",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PostRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-102",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								},
								"AzureSqlTargetTablePreRowCount": {
									"value": "@activity('PreRowCount').output.value",
									"type": "Expression"
								},
								"AzureSqlTargetTablePostRowCount": {
									"value": "@activity('PostRowCount').output.value",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-101_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "df_Organizations",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"ActivityOutputMessage": {
									"value": "@activity('df_Organizations').error.Message",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-101_1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ApiToJson",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"ActivityOutputMessage": {
									"value": "@activity('ApiToJson').output.errors[0].Message",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_SchemaName": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName": {
						"type": "string",
						"defaultValue": "Organizations"
					}
				},
				"variables": {
					"varLogicAppBody": {
						"type": "String"
					}
				},
				"folder": {
					"name": "08_Organizations"
				},
				"annotations": [],
				"lastPublishTime": "2022-01-20T04:04:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_Organizations')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_CopyFromApiToDefinitivSchema_Payslips')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OrgPayRuns",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PreRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select [Org.OrganizationId] as orgId, [payRunId], [Org.LegalName] as orgLegalName, [payslipGenerationStatus] from definitiv.OrganizationPayRuns where [payslipGenerationStatus] = 'Complete'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": "definitiv",
									"param_TableName": "OrganizationPayRuns"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "OrgPayRun",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "OrgPayRuns",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('OrgPayRuns').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "ApiToJson",
									"description": "",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.03:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "PipelineName",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineRunId",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineTriggerTime",
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													}
												},
												{
													"name": "Org.OrganizationId",
													"value": {
														"value": "@item().orgId",
														"type": "Expression"
													}
												},
												{
													"name": "Org.LegalName",
													"value": {
														"value": "@item().orgLegalName",
														"type": "Expression"
													}
												},
												{
													"name": "PayRun.PayRunId",
													"value": {
														"value": "@item().payRunId",
														"type": "Expression"
													}
												},
												{
													"name": "PayRun.PayslipGenerationStatus",
													"value": {
														"value": "@item().payslipGenerationStatus",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": {
												"value": "@{pipeline().globalParameters.global_REST_RequestTimeoutDuration_30min}",
												"type": "Expression"
											},
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_rest_definitiv",
											"type": "DatasetReference",
											"parameters": {
												"sourceRelativeUrl": {
													"value": "@concat(\n'/api/custom-reports/',\npipeline().globalParameters.global_CustomReportId_Payslips,\n'?organizationId=', \nitem().orgId, \n'&selectedPayRunId=', \nitem().payRunId)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
											"type": "DatasetReference",
											"parameters": {
												"ds_PipelineTriggerTime": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"ds_PipelineRunId": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"ds_FileSystem": {
													"value": "@pipeline().globalParameters.global_adls2_FileSystem",
													"type": "Expression"
												},
												"ds_Directory": {
													"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
													"type": "Expression"
												},
												"ds_PipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "logic-nido-prod-eastau-101_1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ApiToJson",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"PipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"PipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"PipelineTriggerId": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											},
											"PipelineTriggerName": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											},
											"PipelineTriggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"PipelineTriggerType": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineName": {
												"value": "@pipeline()?.TriggeredByPipelineName",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineRunId": {
												"value": "@pipeline()?.TriggeredByPipelineRunId",
												"type": "Expression"
											},
											"ActivityOutputMessage": {
												"value": "@activity('ApiToJson').output.errors[0].Message",
												"type": "Expression"
											},
											"AzureSqlTargetTable": {
												"value": "@pipeline().parameters.param_TableName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "df_Payslips",
						"description": "",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "OrgPayRun",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.03:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_Payslips",
								"type": "DataFlowReference",
								"parameters": {
									"param_FileSystem": "\"container-adf-nido-prod-eastau-100-1\"",
									"param_ErrorRowDirectory": "\"ErrorRows\"",
									"param_DataflowName": "\"df_Payslips\""
								},
								"datasetParameters": {
									"sourceJson": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"sinkSql": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemaName",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "AustraliaEastIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "PreRowCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PreRowCount from definitiv.CustomReportPayslips",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "PostRowCount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "df_Payslips",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.CustomReportPayslips",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "logic-nido-prod-eastau-101_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "df_Payslips",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"ActivityOutputMessage": {
									"value": "@activity('df_Payslips').error.Message",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-102",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PostRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-102",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								},
								"AzureSqlTargetTablePreRowCount": {
									"value": "@activity('PreRowCount').output.value",
									"type": "Expression"
								},
								"AzureSqlTargetTablePostRowCount": {
									"value": "@activity('PostRowCount').output.value",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_SchemaName": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName": {
						"type": "string",
						"defaultValue": "CustomReportPayslips"
					}
				},
				"variables": {
					"var_PreRowCount": {
						"type": "String",
						"defaultValue": "var_PreRowCount"
					},
					"var_PostRowCount": {
						"type": "String",
						"defaultValue": " var_PostRowCount"
					},
					"var_CopyActivityOutput": {
						"type": "String",
						"defaultValue": "var_CopyActivityOutput"
					},
					"var_DataflowActivityOutput": {
						"type": "String",
						"defaultValue": "var_DataflowActivityOutput"
					},
					"var_CopyActivityErrorMessage": {
						"type": "String",
						"defaultValue": "var_CopyActivityErrorMessage"
					},
					"var_DataflowActivityErrorMessage": {
						"type": "String",
						"defaultValue": "var_DataflowActivityErrorMessage"
					}
				},
				"folder": {
					"name": "01_Payslips"
				},
				"annotations": [],
				"lastPublishTime": "2022-01-21T07:04:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_Payslips')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_CopyFromApiToDefinitivSchema_ReportingLeaveApplications')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Organizations",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PreRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select organizationId from definitiv.Organizations",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": "definitiv",
									"param_TableName": "Organizations"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Organization",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Organizations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Organizations').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ApiToJson",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.03:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "PipelineName",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineRunId",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineTriggerTime",
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													}
												},
												{
													"name": "Org.OrganizationId",
													"value": {
														"value": "@item().organizationId",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": {
												"value": "@{pipeline().globalParameters.global_REST_RequestTimeoutDuration_30min}",
												"type": "Expression"
											},
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_rest_definitiv",
											"type": "DatasetReference",
											"parameters": {
												"sourceRelativeUrl": {
													"value": "@concat(\n'/api/custom-reports/',\npipeline().globalParameters.global_CustomReportId_ReportingLeaveApplications,\n'?organizationId=', \nitem().organizationId, \n'&startDate=',\n'2021-10-22',\n'&endDate=',\nformatDateTime(convertFromUtc(utcNow(), 'AUS Eastern Standard Time'), 'yyyy-MM-dd'))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
											"type": "DatasetReference",
											"parameters": {
												"ds_PipelineTriggerTime": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"ds_PipelineRunId": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"ds_FileSystem": {
													"value": "@pipeline().globalParameters.global_adls2_FileSystem",
													"type": "Expression"
												},
												"ds_Directory": {
													"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
													"type": "Expression"
												},
												"ds_PipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "logic-nido-prod-eastau-101_1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ApiToJson",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"PipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"PipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"PipelineTriggerId": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											},
											"PipelineTriggerName": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											},
											"PipelineTriggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"PipelineTriggerType": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineName": {
												"value": "@pipeline()?.TriggeredByPipelineName",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineRunId": {
												"value": "@pipeline()?.TriggeredByPipelineRunId",
												"type": "Expression"
											},
											"ActivityOutputMessage": {
												"value": "@activity('ApiToJson').output.errors[0].Message",
												"type": "Expression"
											},
											"AzureSqlTargetTable": {
												"value": "@pipeline().parameters.param_TableName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "df_LeaveApplications",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Organization",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_LeaveApplications",
								"type": "DataFlowReference",
								"parameters": {
									"param_FileSystem": "\"container-adf-nido-prod-eastau-100-1\"",
									"param_ErrorRowDirectory": "\"ErrorRows\"",
									"param_DataflowName": "\"df_LeaveApplications\""
								},
								"datasetParameters": {
									"sourceJson": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"sinkSql": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemaName",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "AustraliaEastIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "PreRowCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PreRowCount from definitiv.ReportingLeaveApplications",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "PostRowCount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "df_LeaveApplications",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.ReportingLeaveApplications",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "logic-nido-prod-eastau-102",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PostRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-102",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								},
								"AzureSqlTargetTablePreRowCount": {
									"value": "@activity('PreRowCount').output.value",
									"type": "Expression"
								},
								"AzureSqlTargetTablePostRowCount": {
									"value": "@activity('PostRowCount').output.value",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-101_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "df_LeaveApplications",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"ActivityOutputMessage": {
									"value": "@activity('df_LeaveApplications').error.Message",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_SchemaName": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName": {
						"type": "string",
						"defaultValue": "ReportingLeaveApplications"
					}
				},
				"folder": {
					"name": "06_Leave"
				},
				"annotations": [],
				"lastPublishTime": "2022-01-18T05:28:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_CopyFromApiToDefinitivSchema_ReportingLeaveBalances')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Organizations",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "varLeaveBalanceDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select organizationId from definitiv.Organizations",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": "definitiv",
									"param_TableName": "Organizations"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Organization",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Organizations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Organizations').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ApiToJson",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.03:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "PipelineName",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineRunId",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineTriggerTime",
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													}
												},
												{
													"name": "Org.OrganizationId",
													"value": {
														"value": "@item().organizationId",
														"type": "Expression"
													}
												},
												{
													"name": "QueryLeaveBalanceDate",
													"value": {
														"value": "@variables('varLeaveBalanceDate')",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": {
												"value": "@{pipeline().globalParameters.global_REST_RequestTimeoutDuration_30min}",
												"type": "Expression"
											},
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_rest_definitiv",
											"type": "DatasetReference",
											"parameters": {
												"sourceRelativeUrl": {
													"value": "@concat(\r\n'/api/company/', \r\nitem().organizationId, \r\n'/reporting/leave-balances?asOfDate=',\r\nvariables('varLeaveBalanceDate')\r\n)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
											"type": "DatasetReference",
											"parameters": {
												"ds_PipelineTriggerTime": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"ds_PipelineRunId": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"ds_FileSystem": {
													"value": "@pipeline().globalParameters.global_adls2_FileSystem",
													"type": "Expression"
												},
												"ds_Directory": {
													"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
													"type": "Expression"
												},
												"ds_PipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "logic-nido-prod-eastau-101_1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ApiToJson",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"PipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"PipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"PipelineTriggerId": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											},
											"PipelineTriggerName": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											},
											"PipelineTriggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"PipelineTriggerType": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineName": {
												"value": "@pipeline()?.TriggeredByPipelineName",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineRunId": {
												"value": "@pipeline()?.TriggeredByPipelineRunId",
												"type": "Expression"
											},
											"ActivityOutputMessage": {
												"value": "@activity('ApiToJson').output.errors[0].Message",
												"type": "Expression"
											},
											"AzureSqlTargetTable": {
												"value": "@pipeline().parameters.param_TableName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "df_ReportingLeaveBalances",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Organization",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.03:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_ReportingLeaveBalances",
								"type": "DataFlowReference",
								"parameters": {
									"param_FileSystem": {
										"value": "'@{pipeline().globalParameters.global_adls2_FileSystem}'",
										"type": "Expression"
									},
									"param_ErrorRowDirectory": {
										"value": "'@{pipeline().globalParameters.global_adls2_SqlErrorRowDirectory}'",
										"type": "Expression"
									},
									"param_DataflowName": "\"df_ReportingLeaveBalances\""
								},
								"datasetParameters": {
									"sourceJson": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"sinkSql": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemaName",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "AustraliaEastIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "varLeaveBalanceDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "PreRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLeaveBalanceDate",
							"value": {
								"value": "@formatDateTime(convertFromUtc(utcNow(), 'AUS Eastern Standard Time'), 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "PreRowCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PreRowCount from definitiv.ReportingLeaveBalances",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "PostRowCount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "df_ReportingLeaveBalances",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.ReportingLeaveBalances",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "logic-nido-prod-eastau-102",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PostRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-102",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								},
								"AzureSqlTargetTablePreRowCount": {
									"value": "@activity('PreRowCount').output.value",
									"type": "Expression"
								},
								"AzureSqlTargetTablePostRowCount": {
									"value": "@activity('PostRowCount').output.value",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-101_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "df_ReportingLeaveBalances",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"ActivityOutputMessage": {
									"value": "@activity('df_ReportingLeaveBalances').error.Message",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_SchemaName": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName": {
						"type": "string",
						"defaultValue": "ReportingLeaveBalances"
					}
				},
				"variables": {
					"varLeaveBalanceDate": {
						"type": "String",
						"defaultValue": "2022-06-01"
					}
				},
				"folder": {
					"name": "06_Leave"
				},
				"annotations": [],
				"lastPublishTime": "2022-01-18T05:28:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_ReportingLeaveBalances')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_CopyFromApiToDefinitivSchema_Rosters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RosterStartDate",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varRosterStartDate",
							"value": {
								"value": "@formatDateTime(addDays(convertFromUtc(utcNow(), 'AUS Eastern Standard Time'), -28), 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "RosterFinishDate",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varRosterFinishDate",
							"value": {
								"value": "@formatDateTime(addDays(convertFromUtc(utcNow(), 'AUS Eastern Standard Time'), 28), 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ApiToJson",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "RosterStartDate",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "RosterFinishDate",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PreRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.03:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "PipelineName",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									{
										"name": "PipelineRunId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "PipelineTriggerTime",
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									},
									{
										"name": "QueryStartDate",
										"value": {
											"value": "@variables('varRosterStartDate')",
											"type": "Expression"
										}
									},
									{
										"name": "QueryFinishDate",
										"value": {
											"value": "@variables('varRosterFinishDate')",
											"type": "Expression"
										}
									}
								],
								"httpRequestTimeout": {
									"value": "@{pipeline().globalParameters.global_REST_RequestTimeoutDuration_90min}",
									"type": "Expression"
								},
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_rest_definitiv",
								"type": "DatasetReference",
								"parameters": {
									"sourceRelativeUrl": {
										"value": "@concat(\n'/api/custom-reports/',\npipeline().globalParameters.global_CustomReportId_Rosters,\n'?organizationId=',\npipeline().globalParameters.global_CustomReportId_GenericOrgId,\n'&startDate=', \nformatDateTime(variables('varRosterStartDate'), 'yyyy-MM-dd'),\n'&endDate=', \nformatDateTime(variables('varRosterFinishDate'), 'yyyy-MM-dd')\n)",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
								"type": "DatasetReference",
								"parameters": {
									"ds_PipelineTriggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"ds_PipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"ds_FileSystem": {
										"value": "@pipeline().globalParameters.global_adls2_FileSystem",
										"type": "Expression"
									},
									"ds_Directory": {
										"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
										"type": "Expression"
									},
									"ds_PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "df_Rosters",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ApiToJson",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.03:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_Rosters",
								"type": "DataFlowReference",
								"parameters": {
									"param_FileSystem": {
										"value": "'@{pipeline().globalParameters.global_adls2_FileSystem}'",
										"type": "Expression"
									},
									"param_ErrorRowDirectory": {
										"value": "'@{pipeline().globalParameters.global_adls2_SqlErrorRowDirectory}'",
										"type": "Expression"
									},
									"param_DataflowName": "\"df_Rosters\""
								},
								"datasetParameters": {
									"sourceJson": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"sinkSql": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemaName",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "AustraliaEastIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "PreRowCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PreRowCount from definitiv.CustomReportRosters",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "PostRowCount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "df_Rosters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.CustomReportRosters",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "logic-nido-prod-eastau-101_1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ApiToJson",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"ActivityOutputMessage": {
									"value": "@activity('ApiToJson').output.errors[0].Message",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-101_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "df_Rosters",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"ActivityOutputMessage": {
									"value": "@activity('df_Rosters').error.Message",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-102",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PostRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-102",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								},
								"AzureSqlTargetTablePreRowCount": {
									"value": "@activity('PreRowCount').output.value",
									"type": "Expression"
								},
								"AzureSqlTargetTablePostRowCount": {
									"value": "@activity('PostRowCount').output.value",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_SchemaName": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName": {
						"type": "string",
						"defaultValue": "CustomReportRosters"
					}
				},
				"variables": {
					"varRosterStartDate": {
						"type": "String"
					},
					"varRosterFinishDate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "04_Rosters"
				},
				"annotations": [],
				"lastPublishTime": "2022-01-18T05:28:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_Rosters')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_CopyFromApiToDefinitivSchema_Timesheets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TimesheetStartDate",
						"description": "Dynamic definition: \"@formatDateTime(addDays(convertFromUtc(utcNow(), 'AUS Eastern Standard Time'), -28), 'yyyy-MM-dd')\"",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "PreRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varTimesheetStartDate",
							"value": {
								"value": "@formatDateTime('2022-09-01', 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "TimesheetFinishDate",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "TimesheetStartDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varTimesheetFinishDate",
							"value": {
								"value": "@formatDateTime(addDays(convertFromUtc(utcNow(), 'AUS Eastern Standard Time'), 28), 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "df_Timesheets",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "QueryDateIsFinishDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.03:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_Timesheets",
								"type": "DataFlowReference",
								"parameters": {
									"param_FileSystem": "\"container-adf-nido-prod-eastau-100-1\"",
									"param_ErrorRowDirectory": "\"ErrorRows\"",
									"param_DataflowName": "\"df_Timesheets\""
								},
								"datasetParameters": {
									"sourceJson": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"sinkSql": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemaName",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "AustraliaEastIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "PreRowCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PreRowCount from definitiv.CustomReportTimesheets",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "PostRowCount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "df_Timesheets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.CustomReportTimesheets",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "QueryDateIsFinishDate",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "TimesheetQueryDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('varTimesheetQueryDate'), variables('varTimesheetFinishDate'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ApiToJson",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.03:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "PipelineTriggerTime",
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineRunId",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineName",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												{
													"name": "QueryStartDate",
													"value": {
														"value": "@variables('varTimesheetStartDate')",
														"type": "Expression"
													}
												},
												{
													"name": "QueryFinishDate",
													"value": {
														"value": "@variables('varTimesheetFinishDate')",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": {
												"value": "@{pipeline().globalParameters.global_REST_RequestTimeoutDuration_30min}",
												"type": "Expression"
											},
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_rest_definitiv",
											"type": "DatasetReference",
											"parameters": {
												"sourceRelativeUrl": {
													"value": "@concat(\n'/api/custom-reports/',\npipeline().globalParameters.global_CustomReportId_Timesheets,\n'?organizationId=',\npipeline().globalParameters.global_CustomReportId_GenericOrgId,\n'&startDate=', \nformatDateTime(variables('varTimesheetQueryDate'), 'yyyy-MM-dd')\n)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
											"type": "DatasetReference",
											"parameters": {
												"ds_PipelineTriggerTime": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"ds_PipelineRunId": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"ds_FileSystem": {
													"value": "@pipeline().globalParameters.global_adls2_FileSystem",
													"type": "Expression"
												},
												"ds_Directory": {
													"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
													"type": "Expression"
												},
												"ds_PipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "TimesheetQueryDatePlusOne",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "ApiToJson",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "varTimesheetQueryDatePlusOne",
										"value": {
											"value": "@formatDateTime(addDays(variables('varTimesheetQueryDate'), 1), 'yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "NextTimesheetQueryDate",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "TimesheetQueryDatePlusOne",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "varTimesheetQueryDate",
										"value": {
											"value": "@variables('varTimesheetQueryDatePlusOne')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "logic-nido-prod-eastau-101_1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ApiToJson",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"PipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"PipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"PipelineTriggerId": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											},
											"PipelineTriggerName": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											},
											"PipelineTriggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"PipelineTriggerType": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineName": {
												"value": "@pipeline()?.TriggeredByPipelineName",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineRunId": {
												"value": "@pipeline()?.TriggeredByPipelineRunId",
												"type": "Expression"
											},
											"ActivityOutputMessage": {
												"value": "@activity('ApiToJson').output.errors[0].Message",
												"type": "Expression"
											},
											"AzureSqlTargetTable": {
												"value": "@pipeline().parameters.param_TableName",
												"type": "Expression"
											}
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "TimesheetQueryDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "TimesheetFinishDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varTimesheetQueryDate",
							"value": {
								"value": "@variables('varTimesheetStartDate')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-101_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "df_Timesheets",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"ActivityOutputMessage": {
									"value": "@activity('df_Timesheets').error.Message",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-102",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PostRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-102",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								},
								"AzureSqlTargetTablePreRowCount": {
									"value": "@activity('PreRowCount').output.value",
									"type": "Expression"
								},
								"AzureSqlTargetTablePostRowCount": {
									"value": "@activity('PostRowCount').output.value",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_SchemaName": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName": {
						"type": "string",
						"defaultValue": "CustomReportTimesheets"
					}
				},
				"variables": {
					"varTimesheetStartDate": {
						"type": "String"
					},
					"varTimesheetFinishDate": {
						"type": "String"
					},
					"varTimesheetQueryDate": {
						"type": "String"
					},
					"varTimesheetQueryDatePlusOne": {
						"type": "String"
					}
				},
				"folder": {
					"name": "03_Timesheets"
				},
				"annotations": [],
				"lastPublishTime": "2022-01-18T05:28:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_Timesheets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_CopyFromApiToDefinitivSchema_Wages')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_Wages",
						"description": "",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "OrgPayRun",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.03:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_Wages",
								"type": "DataFlowReference",
								"parameters": {
									"param_FileSystem": "\"container-adf-nido-prod-eastau-100-1\"",
									"param_ErrorRowDirectory": "\"ErrorRows\"",
									"param_DataflowName": "\"df_Wages\""
								},
								"datasetParameters": {
									"sourceJson": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"sinkSql": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemaName",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "AustraliaEastIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "PreRowCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PreRowCount from definitiv.CustomReportWages",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "PostRowCount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "df_Wages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.CustomReportWages",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "OrgPayRuns",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PreRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select [Org.OrganizationId] as orgId, [payRunId], [Org.LegalName] as orgLegalName, [payslipGenerationStatus] from definitiv.OrganizationPayRuns where [payslipGenerationStatus] = 'Complete'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": "definitiv",
									"param_TableName": "OrganizationPayRuns"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "OrgPayRun",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "OrgPayRuns",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('OrgPayRuns').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ApiToJson",
									"description": "",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.03:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "PipelineName",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineRunId",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineTriggerTime",
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": {
												"value": "@{pipeline().globalParameters.global_REST_RequestTimeoutDuration_30min}",
												"type": "Expression"
											},
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_rest_definitiv",
											"type": "DatasetReference",
											"parameters": {
												"sourceRelativeUrl": {
													"value": "@concat('/api/custom-reports/',\npipeline().globalParameters.global_CustomReportId_Wages,\n'?organizationId=', \nitem().orgId, \n'&selectedPayRunId=', \nitem().payRunId)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
											"type": "DatasetReference",
											"parameters": {
												"ds_PipelineTriggerTime": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"ds_PipelineRunId": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"ds_FileSystem": {
													"value": "@pipeline().globalParameters.global_adls2_FileSystem",
													"type": "Expression"
												},
												"ds_Directory": {
													"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
													"type": "Expression"
												},
												"ds_PipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "logic-nido-prod-eastau-101_1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ApiToJson",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"PipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"PipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"PipelineTriggerId": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											},
											"PipelineTriggerName": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											},
											"PipelineTriggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"PipelineTriggerType": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineName": {
												"value": "@pipeline()?.TriggeredByPipelineName",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineRunId": {
												"value": "@pipeline()?.TriggeredByPipelineRunId",
												"type": "Expression"
											},
											"ActivityOutputMessage": {
												"value": "@activity('ApiToJson').output.errors[0].Message",
												"type": "Expression"
											},
											"AzureSqlTargetTable": {
												"value": "@pipeline().parameters.param_TableName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "logic-nido-prod-eastau-101_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "df_Wages",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"ActivityOutputMessage": {
									"value": "@activity('df_Wages').error.Message",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-102",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PostRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-102",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								},
								"AzureSqlTargetTablePreRowCount": {
									"value": "@activity('PreRowCount').output.value",
									"type": "Expression"
								},
								"AzureSqlTargetTablePostRowCount": {
									"value": "@activity('PostRowCount').output.value",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_SchemaName": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName": {
						"type": "string",
						"defaultValue": "CustomReportWages"
					}
				},
				"variables": {
					"varCopyActivityErrorMessage": {
						"type": "String"
					}
				},
				"folder": {
					"name": "02_Wages"
				},
				"annotations": [],
				"lastPublishTime": "2022-01-21T07:04:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_Wages')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_CopyFromApiToDefinitivSchema_OrganizationPayRuns')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Organizations",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PreRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select organizationId, legalName from definitiv.Organizations",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": "definitiv",
									"param_TableName": "Organizations"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Organization",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Organizations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Organizations').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "ApiToJson",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.03:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "Org.OrganizationId",
													"value": {
														"value": "@item().organizationId",
														"type": "Expression"
													}
												},
												{
													"name": "Org.LegalName",
													"value": {
														"value": "@item().legalName",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineName",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineRunId",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineTriggerTime",
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													}
												},
												{
													"name": "PipelineTriggerId",
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": {
												"value": "@{pipeline().globalParameters.global_REST_RequestTimeoutDuration_30min}",
												"type": "Expression"
											},
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_rest_definitiv",
											"type": "DatasetReference",
											"parameters": {
												"sourceRelativeUrl": {
													"value": "@concat('/api/company/', item().organizationId, '/pay-runs')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls2_stnidoprodeastau100_json_output",
											"type": "DatasetReference",
											"parameters": {
												"ds_PipelineTriggerTime": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"ds_PipelineRunId": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"ds_FileSystem": {
													"value": "@pipeline().globalParameters.global_adls2_FileSystem",
													"type": "Expression"
												},
												"ds_Directory": {
													"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
													"type": "Expression"
												},
												"ds_PipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "logic-nido-prod-eastau-101_1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ApiToJson",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"PipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"PipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"PipelineTriggerId": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											},
											"PipelineTriggerName": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											},
											"PipelineTriggerTime": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"PipelineTriggerType": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineName": {
												"value": "@pipeline()?.TriggeredByPipelineName",
												"type": "Expression"
											},
											"PipelineTriggeredByPipelineRunId": {
												"value": "@pipeline()?.TriggeredByPipelineRunId",
												"type": "Expression"
											},
											"ActivityOutputMessage": {
												"value": "@activity('ApiToJson').output.errors[0].Message",
												"type": "Expression"
											},
											"AzureSqlTargetTable": {
												"value": "@pipeline().parameters.param_TableName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "df_OrgPayRuns",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Organization",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.03:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_OrgPayRuns",
								"type": "DataFlowReference",
								"parameters": {
									"param_FileSystem": {
										"value": "'@{pipeline().globalParameters.global_adls2_FileSystem}'",
										"type": "Expression"
									},
									"param_ErrorRowDirectory": {
										"value": "'@{pipeline().globalParameters.global_adls2_SqlErrorRowDirectory}'",
										"type": "Expression"
									},
									"param_DataflowName": "\"df_OrgPayRuns\""
								},
								"datasetParameters": {
									"sourceJson": {
										"ds_PipelineTriggerTime": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"ds_PipelineRunId": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"ds_FileSystem": {
											"value": "@pipeline().globalParameters.global_adls2_FileSystem",
											"type": "Expression"
										},
										"ds_Directory": {
											"value": "@pipeline().globalParameters.global_adls2_OutputDirectory_Json",
											"type": "Expression"
										},
										"ds_PipelineName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"sinkSql": {
										"param_SchemaName": {
											"value": "@pipeline().parameters.param_SchemaName",
											"type": "Expression"
										},
										"param_TableName": {
											"value": "@pipeline().parameters.param_TableName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "AustraliaEastIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "pl_CopyFromApiToDefinitivSchema_Payslips",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PostRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_CopyFromApiToDefinitivSchema_Payslips",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"param_SchemaName": "definitiv",
								"param_TableName": "CustomReportPayslips"
							}
						}
					},
					{
						"name": "PreRowCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PreRowCount from definitiv.OrganizationPayRuns",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "PostRowCount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "df_OrgPayRuns",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) as PostRowCount from definitiv.OrganizationPayRuns",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_tnk001",
								"type": "DatasetReference",
								"parameters": {
									"param_SchemaName": {
										"value": "@pipeline().parameters.param_SchemaName",
										"type": "Expression"
									},
									"param_TableName": {
										"value": "@pipeline().parameters.param_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "pl_CopyFromApiToDefinitivSchema_Wages",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PostRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_CopyFromApiToDefinitivSchema_Wages",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"param_SchemaName": "definitiv",
								"param_TableName": "CustomReportWages"
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-102",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PostRowCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-102",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								},
								"AzureSqlTargetTablePreRowCount": {
									"value": "@activity('PreRowCount').output.value",
									"type": "Expression"
								},
								"AzureSqlTargetTablePostRowCount": {
									"value": "@activity('PostRowCount').output.value",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "logic-nido-prod-eastau-101_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "df_OrgPayRuns",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_monitoring_logic-nido-prod-eastau-101",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"PipelineRunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"PipelineTriggerId": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"PipelineTriggerName": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"PipelineTriggerTime": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"PipelineTriggerType": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineName": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"PipelineTriggeredByPipelineRunId": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"ActivityOutputMessage": {
									"value": "@activity('df_OrgPayRuns').error.Message",
									"type": "Expression"
								},
								"AzureSqlTargetTable": {
									"value": "@pipeline().parameters.param_TableName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"param_SchemaName": {
						"type": "string",
						"defaultValue": "definitiv"
					},
					"param_TableName": {
						"type": "string",
						"defaultValue": "OrganizationPayRuns"
					}
				},
				"folder": {
					"name": "07_PayRuns"
				},
				"annotations": [],
				"lastPublishTime": "2022-01-21T07:04:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_CopyFromApiToDefinitivSchema_Payslips')]",
				"[concat(variables('factoryId'), '/pipelines/pl_CopyFromApiToDefinitivSchema_Wages')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_Employees_Scheduled_1d')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_CopyFromApiToDefinitivSchema_Employees",
							"type": "PipelineReference"
						},
						"parameters": {
							"param_SchemeName1": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName1')]",
							"param_TableName1": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName1')]",
							"param_SchemeName2": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName2')]",
							"param_TableName2": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName2')]",
							"param_SchemeName3": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName3')]",
							"param_TableName3": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName3')]",
							"param_SchemeName4": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName4')]",
							"param_TableName4": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName4')]",
							"param_SchemeName5": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName5')]",
							"param_TableName5": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName5')]",
							"param_SchemeName6": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName6')]",
							"param_TableName6": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName6')]",
							"param_SchemeName7": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_SchemeName7')]",
							"param_TableName7": "[parameters('tr_Employees_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_Employees_parameters_param_TableName7')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-06-07T04:42:00",
						"timeZone": "AUS Eastern Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								11
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_CopyFromApiToDefinitivSchema_Employees')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_EmploymentHistory_Scheduled_1d')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_CopyFromApiToDefinitivSchema_EmploymentHistory",
							"type": "PipelineReference"
						},
						"parameters": {
							"param_SchemaName": "[parameters('tr_EmploymentHistory_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_EmploymentHistory_parameters_param_SchemaName')]",
							"param_TableName": "[parameters('tr_EmploymentHistory_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_EmploymentHistory_parameters_param_TableName')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-06-08T05:19:00",
						"timeZone": "AUS Eastern Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								3
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_CopyFromApiToDefinitivSchema_EmploymentHistory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_LeaveApplications_Scheduled_1d')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_CopyFromApiToDefinitivSchema_ReportingLeaveApplications",
							"type": "PipelineReference"
						},
						"parameters": {
							"param_SchemaName": "[parameters('tr_LeaveApplications_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_ReportingLeaveApplications_parameters_param_SchemaName')]",
							"param_TableName": "[parameters('tr_LeaveApplications_Scheduled_1d_properties_pl_CopyFromApiToDefinitivSchema_ReportingLeaveApplications_parameters_param_TableName')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-06-08T05:45:00",
						"timeZone": "AUS Eastern Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								4
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_CopyFromApiToDefinitivSchema_ReportingLeaveApplications')]"
			]
		}
	]
}